# Generate data on TCI Parcels

Parcels surveyed in March, 2014 so all data pulled should come from before that.

In [2]:
import pandas as pd
import csv
import numpy as np

## TCI survyed parcels
* PPN
* Vacant or not

In [2]:
tci = pd.read_csv('original_data/tci.csv')
ppns = set(tci['Parcel Number'])

def vacant(x):
    if x in ['Vacant Structure Open', 'Vacant Structure Secure']:
        return 1
    else:
        return 0
    
tci['vacant'] = tci.Category.apply(vacant)
tci.to_csv('clean_data/tci.csv', index=False)

In [4]:
sum(tci.vacant), len(tci)

(1555, 13500)

## Residential characteristics 
Filename: ```res2013.csv```

In [4]:
res = pd.read_csv('original_data/res2013.csv')

In [3]:
res = res[res.parcel.isin(ppns)]

res.info()

KeyboardInterrupt:

We'll take these attributes into our dataset.

In [9]:
cols = ['STYLE','parcel','ryrbuilt','eyrbuilt','occup','condtion','rextwall','heat','air','plumbfix','livatot']

In [10]:
res[cols].head()

,STYLE,parcel,ryrbuilt,eyrbuilt,occup,condtion,rextwall,heat,air,plumbfix,livatot
83077,Colonial,121-31-015,1897,1956,1 family,Average,Aluminum/Vinyl (r),Forced air,None,5,1344
83079,Colonial,121-31-019,1913,1966,2 family,Good,Frame (r),Forced air,None,10,1826
83080,Colonial,121-31-020,1910,1956,2 family,Average,Frame (r),Forced air,None,10,2112
83081,Bungalow,121-32-005,1900,1956,1 family,Average,Frame (r),Forced air,None,5,1256
83082,Ranch,121-32-008,1954,1926,1 family,Very poor,Concrete block,Forced air,None,5,832

In [11]:
res[cols].to_csv('clean_data/res_tci.csv',index=False)

##Tax bill
Filename: ```feb14_tci.csv```

In [72]:
infile = 'original_data/aug13.csv'
outfile = 'clean_data/aug13_tci.csv'

with open(infile, 'r') as fin, open(outfile, 'w') as fout:
    write_to = csv.writer(fout, lineterminator='\n')
    header = next(csv.reader(fin))
    write_to.writerow(header)
    for row in csv.reader(fin):
#         row
        if len(row) > 91:
            if row[91] in ppns:
                write_to.writerow(row)

In [74]:
temp = pd.read_csv('clean_data/aug13_tci.csv')

In [76]:
temp.shape

(13333, 149)

In [58]:
# tb = pd.read_csv('original_data/feb14.csv')

In [16]:
tb = pd.read_csv('clean_data/feb14_tci.csv')
tb.shape

(6075, 147)

In [18]:
print tb.columns.values

['TAX_BILL_ID' 'TAX_YEAR' 'WHS_ID' 'PROPERTY_ID' 'PPN' 'PROPERTY_NUMBER'
 'MACHINE_ID' 'EFFECTIVE_STATUS' 'VALUE_CHANGE_TIMESTAMP' 'PROPERTY_TYPE'
 'TAX_DETAIL_ID' 'TAX_DETAIL_CHARGE_ID' 'TAXSET_ID' 'TAXSET_CODE'
 'TAXSET_DESCR' 'CLASSIFICATION_ID' 'CLASSIFICATION_DESCR' 'TREASURER_CODE'
 'DEEDED_OWNER_ID' 'PRIMARY_OWNER_NAME' 'SECONDARY_OWNER_NAME'
 'LOCATION_STREET_DIR' 'LOCATION_STREET_NO' 'LOCATION_STREET_NAME'
 'LOCATION_STREET_SUFFIX' 'LOCATION_CITY' 'LOCATION_STATE'
 'LOCATION_ZIPCODE' 'MAILNAME' 'MAIL_STREET_NUMBER' 'MAIL_STREET_DIRECTION'
 'MAIL_STREET_NAME' 'MAIL_STREET_SUFFIX' 'MAIL_ATTENTION_LINE'
 'MAIL_SECONDARY_ADDRESS' 'MAIL_CITY' 'MAIL_STATE' 'MAIL_COUNTRY'
 'MAIL_ZIPCODE' 'BANK_ID' 'LENDER_CODE' 'LENDER' 'LENDER_PROCESS_TYPE'
 'TAX_ASSESSED_LAND' 'TAX_ASSESSED_IMPROVEMENT' 'TAX_ASSESSED_TOTAL'
 'TAX_MARKET_LAND' 'TAX_MARKET_IMPROVEMENT' 'TAX_MARKET_TOTAL'
 'TIF_ASSESSED_LAND' 'TIF_ASSESSED_IMPROVEMENT' 'TIF_ASSESSED_TOTAL'
 'TIF_MARKET_LAND' 'TIF_MARKET_IMPROVEMENT' 'TIF_MARKET_TOTAL'
 'HOMESTEAD_MARKET_VALUE' 'BILL_NUMBER' 'FULL_RATE' 'REDUCTION_FACTOR'
 'EFFECTIVE_RATE' 'INSTALLMENT_DUE_DATE_1ST' 'GROSS_TAX_AMOUNT_1ST'
 'REDUCTION_CREDIT_1ST' 'SUBTOTAL_1ST' 'ROLLBACK_CREDIT_1ST'
 'TWOANDONEHALF_CREDIT_1ST' 'HOMESTEAD_CREDIT_1ST' 'OMITTED_TAX_1ST'
 'OCR_1ST' 'CONTRACT_AMOUNT_1ST' 'ESCROW_ACCOUNT_NUMBER'
 'ESCROW_PAYMENTS_1ST' 'INSTALLMENT_DUE_DATE_2ND' 'GROSS_TAX_AMOUNT_2ND'
 'REDUCTION_CREDIT_2ND' 'SUBTOTAL_2ND' 'ROLLBACK_CREDIT_2ND'
 'TWOANDONEHALF_CREDIT_2ND' 'HOMESTEAD_CREDIT_2ND' 'OMITTED_TAX_2ND'
 'OCR_2ND' 'CONTRACT_AMOUNT_2ND' 'ESCROW_PAYMENTS_2ND' 'NET_TAX_1ST'
 'NET_TAX_2ND' 'TAX_FEE_1ST' 'TAX_FEE_2ND' 'TAX_PENALTY_1ST'
 'TAX_PENALTY_2ND' 'NET_SPA_CHARGE_1ST' 'NET_SPA_CHARGE_2ND' 'SPA_FEE_1ST'
 'SPA_FEE_2ND' 'SPA_TOTAL_PENALTY_1ST' 'SPA_TOTAL_PENALTY_2ND'
 'NET_TAX_DELQ_OWED' 'NET_TAX_DELQ_PAID' 'NET_TAX_DELQ_DUE'
 'NET_TAX_OWED_1ST' 'NET_TAX_PAID_1ST' 'NET_TAX_DUE_1ST' 'NET_TAX_OWED_2ND'
 'NET_TAX_PAID_2ND' 'NET_TAX_DUE_2ND' 'NET_SPA_DELQ_OWED'
 'NET_SPA_DELQ_PAID' 'NET_SPA_DELQ_DUE' 'NET_SPA_OWED_1ST'
 'NET_SPA_PAID_1ST' 'NET_SPA_DUE_1ST' 'NET_SPA_OWED_2ND' 'NET_SPA_PAID_2ND'
 'NET_SPA_DUE_2ND' 'TOTAL_NET_DELQ_OWED' 'TOTAL_NET_DELQ_PAID'
 'TOTAL_NET_DELQ_BALANCE' 'TOTAL_NET_OWED_1ST' 'TOTAL_NET_PAID_1ST'
 'TOTAL_NET_BALANCE_OWED_1ST' 'TOTAL_NET_OWED_2ND' 'TOTAL_NET_PAID_2ND'
 'TOTAL_NET_BALANCE_OWED_2ND' 'GRAND_TOTAL_OWED' 'GRAND_TOTAL_PAID'
 'GRAND_TOTAL_BALANCE' 'CONTRACT_FLAG' 'ESCROW_FLAG' 'ROLLBACK_FLAG'
 'HOMESTEAD_FLAG' 'FORECLOSURE_FLAG' 'PAYMENT_PLAN_FLAG' 'CERT_PEND_FLAG'
 'CERT_SOLD_FLAG' 'BILL_TYPE' 'BOR_STATUS' 'NOT_CREATE_FLAG' 'PRINT_ORDER'
 'LOCATION_UNIT_NUMBER' 'HOMESTEAD_ASSESSED_VALUE' 'SURPLUS_PAYMENT'
 'OMITTED_TAX_PENALTY_1ST' 'OMITTED_TAX_PENALTY_2ND' 'AUDITOR_REFUND'
 'TRASURER_REFUND' 'TIF_AMOUNT_1ST' 'TIF_AMOUNT_2ND' 'UPDATE_DATE']

Notes:
* Property type is 800 for all entries
* Homestead/check mailing addresses for owner occupancy
* TOTAL_NET_DELQ_BALANCE := certified deliquent taxes
* Grand total balance?

In [19]:
tb[['TOTAL_NET_DELQ_BALANCE','TOTAL_NET_BALANCE_OWED_1ST','TOTAL_NET_BALANCE_OWED_2ND','GRAND_TOTAL_BALANCE']]

,TOTAL_NET_DELQ_BALANCE,TOTAL_NET_BALANCE_OWED_1ST,TOTAL_NET_BALANCE_OWED_2ND,GRAND_TOTAL_BALANCE
0,0.00,0.00,113.04,113.04
1,0.00,0.00,655.43,655.43
2,0.00,0.00,28.99,28.99
3,5169.85,577.85,550.32,6298.02
4,0.00,0.00,308.39,308.39
5,0.00,0.00,0.00,0.00
6,0.00,0.00,0.00,0.00
7,0.00,0.00,610.44,610.44
8,484.90,466.91,444.67,1396.48
9,0.00,0.00,526.58,526.58
10,0.00,0.00,0.00,0.00
11,558.99,214.75,404.52,1178.26
12,345.21,101.96,147.10,594.27
13,0.00,0.00,0.00,0.00
14,5894.31,1335.64,1272.03,8501.98
15,0.00,0.00,581.30,581.30
16,0.00,0.00,0.00,0.00
17,0.00,0.00,0.00,0.00
18,3489.22,493.76,470.25,4453.23
19,772.70,26.08,24.84,823.62
20,0.00,0.00,0.00,0.00
21,0.00,0.00,0.00,0.00
22,0.00,0.00,42.33,42.33
23,0.00,0.00,565.86,565.86
24,0.00,0.00,424.05,424.05
25,2765.10,447.36,426.05,3638.51
26,0.00,0.00,568.92,568.92
27,0.00,0.00,392.86,392.86
28,0.00,0.00,70.96,70.96
29,0.00,0.00,0.00,0.00
...,...,...,...,...
6045,0.00,319.94,304.70,624.64
6046,0.00,0.00,1303.29,1303.29
6047,0.00,0.00,1006.71,1006.71
6048,0.00,0.00,1520.79,1520.79
6049,0.00,0.00,1350.76,1350.76
6050,0.00,0.00,20.32,20.32
6051,0.00,0.00,1564.30,1564.30
6052,0.00,0.00,1558.64,1558.64
6053,0.00,0.00,1469.38,1469.38
6054,29104.61,1794.36,1708.91,32607.88
6055,0.00,0.00,1232.11,1232.11
6056,0.00,0.00,1125.34,1125.34
6057,0.00,0.00,1046.26,1046.26
6058,0.00,0.00,2437.62,2437.62
6059,0.00,0.00,0.00,0.00
6060,0.00,0.00,1192.57,1192.57
6061,27446.88,0.00,2303.79,29750.67
6062,0.00,0.00,1722.48,1722.48
6063,0.00,0.00,1052.48,1052.48
6064,0.00,598.50,1140.10,1738.60
6065,0.00,0.00,1495.37,1495.37
6066,0.00,0.00,1732.64,1732.64
6067,0.00,0.00,0.00,0.00
6068,0.00,0.00,1588.02,1588.02
6069,1955.48,1838.92,1751.35,5545.75
6070,0.00,0.00,1728.12,1728.12
6071,2816.75,518.61,493.91,3829.27
6072,0.00,0.00,536.28,536.28
6073,0.00,0.00,2392.48,2392.48
6074,0.00,0.00,2117.92,2117.92

In [20]:
tb[['CERT_PEND_FLAG','PPN']].groupby('CERT_PEND_FLAG').count()

Empty DataFrame
Columns: [PPN]
Index: []

In [21]:
tb[tb['TOTAL_NET_DELQ_BALANCE']>0][['TOTAL_NET_DELQ_BALANCE','PROPERTY_NUMBER']].shape

(1128, 2)

In [22]:
cols = ['PROPERTY_NUMBER','LENDER_PROCESS_TYPE','GRAND_TOTAL_BALANCE','TOTAL_NET_DELQ_BALANCE','TOTAL_NET_BALANCE_OWED_1ST',\
        'TOTAL_NET_BALANCE_OWED_2ND','GRAND_TOTAL_BALANCE','FORECLOSURE_FLAG','MAIL_STREET_NUMBER',\
        'MAIL_STREET_NAME','LOCATION_STREET_NO',\
        'LOCATION_STREET_NAME','HOMESTEAD_FLAG']

In [23]:
tb[cols].head()

,PROPERTY_NUMBER,LENDER_PROCESS_TYPE,GRAND_TOTAL_BALANCE,TOTAL_NET_DELQ_BALANCE,TOTAL_NET_BALANCE_OWED_1ST,TOTAL_NET_BALANCE_OWED_2ND,GRAND_TOTAL_BALANCE,FORECLOSURE_FLAG,MAIL_STREET_NUMBER,MAIL_STREET_NAME,LOCATION_STREET_NO,LOCATION_STREET_NAME,HOMESTEAD_FLAG
0,129-23-013,0,113.04,0.00,0.00,113.04,113.04,NaN,2999,PAYNE,12008,Forest,NaN
1,126-16-034,2500,655.43,0.00,0.00,655.43,655.43,NaN,2999,PAYNE,10005,Cumberland,NaN
2,121-31-003,NaN,28.99,0.00,0.00,28.99,28.99,NaN,2417,Woodhill,2427,Woodhill,NaN
3,121-31-008,0,6298.02,5169.85,577.85,550.32,6298.02,1,NaN,Ingersoll,NaN,Ingersoll,NaN
4,121-32-124,1501,308.39,0.00,0.00,308.39,308.39,NaN,2399,Mapleside,2399,Mapleside,NaN

In [24]:
tb[cols].to_csv('clean_data/taxbill_tci.csv', index=False)

## County land bank
Filename: ```count_land_bank.csv```

In [25]:
lb = pd.read_csv('original_data/count_land_bank.csv', parse_dates=[3,4])
lb.columns

Index([u'parcel', u'disp_status', u'p_source', u'acq_dt', u'disp_dt', u'assessment', u'demo_status', u'rehab_status', u'public_status', u's_date', u'cclrc_dba_date', u'cclrc_dc_date', u'ab_proceed_dt', u'proceed_date', u'cclrc_dcp_date', u'out_type'], dtype='object')

In [26]:
lb = lb[lb['parcel'].isin(ppns)]
lb[lb['acq_dt']<np.datetime64('2014-03-01')].to_csv('clean_data/count_land_bank_tci.csv', index=False)

## Foreclosure filings

In [53]:
fc = pd.read_csv('original_data/foreclosure_filings2006_dec2014.csv', parse_dates = [2])

In [54]:
fc = fc[fc['parcel'].isin(ppns)]
fc = fc[fc['filedate']<np.datetime64('2014-03-01')]

In [55]:
len(set(fc.parcel))

4426

In [56]:
fc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5843 entries, 21 to 115643
Data columns (total 26 columns):
parcel            5843 non-null object
status            5843 non-null object
filedate          5843 non-null datetime64[ns]
defendant         5843 non-null object
caseno            5843 non-null object
parcel_address    5823 non-null object
dateid            5843 non-null object
FORE              5843 non-null int64
LATITUDE          5821 non-null float64
LONGITUDE         5821 non-null float64
zip_fore          5676 non-null float64
case_number       5843 non-null object
ctitle            5843 non-null object
cdesig            5843 non-null object
judge             5843 non-null object
magistrate        5143 non-null object
room              17 non-null object
n_action          17 non-null object
f_location        5843 non-null object
lstatus           5843 non-null object
lstatusdt         5843 non-null object
ldispos           5843 non-null object
ldisposdt         5843 non-null object
pamount           5843 non-null object
detaildt          5843 non-null object
plaintiff         5843 non-null object
dtypes: datetime64[ns](1), float64(3), int64(1), object(21)
memory usage: 1.2+ MB

In [31]:
fc.to_csv('clean_data/foreclosure_filings_tci.csv',index=False)

## Sheriff auction
Filename: ```shf_aution_mar2000_dec2014.csv```

In [32]:
sa = pd.read_csv('original_data/shf_aution_mar2000_dec2014.csv', parse_dates=[2])
sa.shape

(113807, 25)

In [33]:
sa = sa[sa.parcel.isin(ppns)]
sa = sa[sa.salesdt<np.datetime64('2014-03-01')]
sa.shape

(5994, 25)

In [34]:
sa.columns.values

array(['parcel', 'address', 'salesdt', 'saleno', 'sold_amt', 'appraisal',
       'minbid', 'scaseno', 'withdrawn', 'plaintiff', 'sdefend',
       'purchaser', 'paddress', 'rparty', 'raddress', 'attorney',
       'descript', 'location', 'defend_att', 'with', 'status', 'ssold',
       'SHF', 'LATITUDE', 'LONGITUDE'], dtype=object)

In [35]:
sa.loc[sa['ssold'].isnull(),'ssold'] = 'No'

In [36]:
def convert(x):
    if x == 'No':
        return 0
    else:
        return 1
sa['ssold'] = sa['ssold'].apply(convert)

In [37]:
sa.to_csv('clean_data/shr_auction_tci.csv', index=False)

## Transfers
Filename: ```transfers2000_2014.csv```

In [39]:
# infile = 'original_data/transfers2000_2014.csv'
# outfile = 'clean_data/transfers_tci.csv'

# with open(infile, 'r') as fin, open(outfile, 'w') as fout:
#     write_to = csv.writer(fout, lineterminator='\n')
#     header = next(csv.reader(fin))
#     write_to.writerow(header)
#     for row in csv.reader(fin):
#         if row[5] in ppns:
#             write_to.writerow(row)

In [40]:
tf = pd.read_csv('clean_data/transfers_tci.csv',parse_dates=[8])

In [41]:
tf = tf[tf.mdate<np.datetime64('2014-03-01')]

In [42]:
tf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25092 entries, 0 to 26570
Data columns (total 60 columns):
TRANSFER_TO_ID                  25092 non-null int64
WHS_ID                          25092 non-null int64
TRANSFER_HISTORY_ID             25092 non-null int64
TRANSFER_ORDER                  25092 non-null int64
PARCEL_ID                       25092 non-null int64
PROPERTY_NUMBER                 25092 non-null object
GRANTEE1                        25092 non-null object
GRANTOR1                        25059 non-null object
mdate                           25092 non-null datetime64[ns]
SALES_AMOUNT                    25092 non-null int64
DEED_TYPE                       25092 non-null object
instrument_number               20174 non-null float64
RECORDED_BOOK                   4939 non-null float64
RECORDED_PAGE                   4939 non-null object
INSTRUMENT_TYPE                 25092 non-null int64
SALE_VALID                      25092 non-null int64
multiproperty_sale              25092 non-null int64
NUMBER_OF_PROPERTIES_IN_SALE    25092 non-null int64
conveyance_number               11397 non-null object
CONVEYANCE_FEE                  25092 non-null float64
USER_ID                         25092 non-null object
RECEIPT_NUMBER                  4898 non-null object
AUTO_FILE_NUMBER                16763 non-null object
CHANGE_TIMESTAMP                25092 non-null object
TRANSFER_NUMBER                 25092 non-null int64
TRANSFER_STATUS                 25092 non-null object
MONTH_OF_SALE                   25092 non-null int64
YEAR_OF_SALE                    25092 non-null int64
CAMA_SALE_FILE                  25092 non-null object
CAMA_INV_FILE                   25092 non-null object
TRANSFER_TYPE                   25092 non-null int64
INSTRUMENT_DATE                 25092 non-null object
RECORDED_DATE                   25092 non-null object
TRANSFER_FEE                    25092 non-null float64
PERMISSIVE_FEE                  25092 non-null float64
AMOUNT_PAID                     25092 non-null float64
FEE_PAID_BY                     18934 non-null object
FEE_CHECK_NUM                   4031 non-null object
SALES_SOURCE                    25092 non-null int64
deed_number                     11035 non-null float64
EXEMPTCODE                      25092 non-null int64
ASSUMED_LOAN_AMOUNT             25092 non-null int64
PERSONAL_PROPERTY_AMOUNT        25092 non-null int64
BUILDINGS_ON_LAND               25092 non-null int64
GIFT                            25092 non-null int64
LAND_CONTRACT                   25092 non-null int64
LEASE_HOLD                      25092 non-null int64
LEASED_FEE                      25092 non-null int64
LIFE_ESTATE                     25092 non-null int64
MINERAL_RIGHTS_RESERVED         25092 non-null int64
MOTHER                          25092 non-null int64
PARTINTER_EST_TRANSFERRED       25092 non-null int64
GRANTOR_IS_MORTGAGEE            25092 non-null int64
GRANTOR_IS_RELATIVE             25092 non-null int64
TRADE                           25092 non-null int64
TRANSFER_TYPE_DESCR             25072 non-null object
SALES_SOURCE_DESCR              1058 non-null object
EXEMPTCODE_DESCR                5603 non-null object
TRANSFER_FROM_PARCEL            0 non-null float64
UPDATE_DATE                     25092 non-null object
dtypes: datetime64[ns](1), float64(8), int64(30), object(21)
memory usage: 11.7+ MB

In [149]:
tf.to_csv('clean_data/transfers_tci.csv',index=False)

## Armslength sales
Filename: ```armslengthsales2006_2014.csv```

In [3]:
al = pd.read_csv('original_data/armslengthsales2006_2014.csv')

//anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1154: DtypeWarning: Columns (10,32,33,35,79) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [4]:
al.columns

Index([u'AMOUNT_PAID', u'ASSUMED_LOAN_AMOUNT', u'AUTO_FILE_NUMBER', u'BUILDINGS_ON_LAND', u'CAMA_INV_FILE', u'CAMA_SALE_FILE', u'CHANGE_TIMESTAMP', u'CONVEYANCE_FEE', u'DEED_TYPE', u'EXEMPTCODE', u'EXEMPTCODE_DESCR', u'FEE_CHECK_NUM', u'FEE_PAID_BY', u'GIFT', u'GRANTEE1', u'GRANTOR1', u'GRANTOR_IS_MORTGAGEE', u'GRANTOR_IS_RELATIVE', u'INSTRUMENT_DATE', u'INSTRUMENT_TYPE', u'LAND_CONTRACT', u'LEASED_FEE', u'LEASE_HOLD', u'LIFE_ESTATE', u'MINERAL_RIGHTS_RESERVED', u'MONTH_OF_SALE', u'MOTHER', u'NUMBER_OF_PROPERTIES_IN_SALE', u'PARTINTER_EST_TRANSFERRED', u'PERMISSIVE_FEE', u'PERSONAL_PROPERTY_AMOUNT', u'PROPERTY_NUMBER', u'RECEIPT_NUMBER', u'RECORDED_BOOK', u'RECORDED_DATE', u'RECORDED_PAGE', u'SALES_AMOUNT', u'SALES_SOURCE', u'SALES_SOURCE_DESCR', u'SALE_VALID', u'TRADE', u'mdate', u'TRANSFER_FEE', u'TRANSFER_FROM_PARCEL', u'TRANSFER_HISTORY_ID', u'TRANSFER_NUMBER', u'TRANSFER_ORDER', u'TRANSFER_STATUS', u'TRANSFER_TO_ID', u'TRANSFER_TYPE', u'TRANSFER_TYPE_DESCR', u'UPDATE_DATE', u'USER_ID', u'WHS_ID', u'YEAR_OF_SALE', u'DOWNLOAD_DATE', u'instrument_number', u'deed_number', u'multiproperty_sale', u'ppn', u'conveyance_number', u'PARCEL_ID', u'td', u'ct', u'id', u'rd', u'par', u'yr', u'seqno', u'buyer', u'nbuy', u'ngrantee1', u'nsell', u'ngrantor1', u'bk56', u'trustee', u'shf_sales', u'final_cat', u'stdname', u'cons_name', u'armslength', u'std_ngrantee1', u'std_ngrantor1', u'count', u'self_sales', u'bulk_sales'], dtype='object')

In [5]:
al = al[al.PROPERTY_NUMBER.isin(ppns)]
al.shape

(5497, 86)

In [6]:
cols = ['AMOUNT_PAID','ASSUMED_LOAN_AMOUNT','BUILDINGS_ON_LAND','DEED_TYPE','GIFT','MONTH_OF_SALE','NUMBER_OF_PROPERTIES_IN_SALE', \
        'PROPERTY_NUMBER','SALES_AMOUNT','SALE_VALID','TRANSFER_FEE','YEAR_OF_SALE']
al[cols].head()

,AMOUNT_PAID,ASSUMED_LOAN_AMOUNT,BUILDINGS_ON_LAND,DEED_TYPE,GIFT,MONTH_OF_SALE,NUMBER_OF_PROPERTIES_IN_SALE,PROPERTY_NUMBER,SALES_AMOUNT,SALE_VALID,TRANSFER_FEE,YEAR_OF_SALE
302,4.5,0,1,QUIT CLAIM DEED,0,11,1,129-26-066,1000,2,0.5,2008
441,4.5,0,1,WARRANTY DEED,0,8,1,129-16-081,600,2,0.5,2012
554,58.5,0,1,WARRANTY DEED,0,10,1,129-23-164,14500,2,0.5,2012
696,40.5,0,1,WARRANTY DEED,0,10,1,128-13-046,10000,0,0.5,2004
697,100.5,0,1,WARRANTY DEED,0,9,1,129-26-039,25000,0,0.5,2005

In [8]:
al.to_csv('clean_data/armslength_tci.csv',index=False)

## Violations
Filename: ```violate_cle.csv```

In [43]:
v = pd.read_csv('original_data/violate_cle.csv',parse_dates=[1,4])

In [15]:
v.head()

,VIN,v_file_date,v_wf_task,v_wf_task_status,v_wf_task_date,v_type_of_violation,parcel1,parcel,cond_gar,cond,other,maint,fire,int_ext,vin_id,violation_issue_date,vn_created,vn_source
0,$$10BCE-0,10/19/2010,Application Acceptance,Violation Notice Rvw Approved,10/19/2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,$$10BCE-0,10/19/2010,Inspection,Violation Resolved,10/19/2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,$$10BCE-0,10/19/2010,Closure,Case Closed,10/19/2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,$$12BCE-0,02/03/2012,Inspection,Awaiting Reinspection,02/02/2012,HVAC,NaN,112-19-032,NaN,NaN,1,NaN,NaN,NaN,$$12BCE-0,02/02/2012,1,2
4,$$12BCE-0,02/03/2012,Application Acceptance,Violation Notice Rvw Approved,02/02/2012,HVAC,NaN,112-19-032,NaN,NaN,1,NaN,NaN,NaN,$$12BCE-0,02/02/2012,1,2

In [44]:
v = v[v.parcel.isin(ppns)]
v = v[(v.v_file_date < np.datetime64('2014-03-01')) & (v.v_file_date > np.datetime64('2006-03-01'))]

In [45]:
print v.shape
print v.columns

(17801, 18)
Index([u'VIN', u'v_file_date', u'v_wf_task', u'v_wf_task_status', u'v_wf_task_date', u'v_type_of_violation', u'parcel1', u'parcel', u'cond_gar', u'cond', u'other', u'maint', u'fire', u'int_ext', u'vin_id', u'violation_issue_date', u'vn_created', u'vn_source'], dtype='object')

In [46]:
# v['total'] = v.groupby('parcel').count()
v.to_csv('clean_data/violations_tci.csv',index=False)

## Complaints
Filename: ```complaint_cle.csv```

In [48]:
c = pd.read_csv('original_data/complaint_cle.csv', parse_dates=[1])

//anaconda/lib/python2.7/site-packages/pandas/io/parsers.py:1154: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [49]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 456231 entries, 0 to 456230
Data columns (total 19 columns):
complaint_id           456231 non-null object
c_file_date            456231 non-null datetime64[ns]
c_wf_task              456231 non-null object
c_wf_task_status       423294 non-null object
c_wf_task_date         456230 non-null object
c_type_of_complaint    415198 non-null object
cdc_ri                 98 non-null float64
cdc_corrected          205 non-null float64
cdc_referred           599 non-null float64
othercomp              316292 non-null float64
parcel                 408386 non-null object
parcel1                108389 non-null object
cdc_comp               0 non-null float64
cdccia_comp            0 non-null float64
council_comp           0 non-null float64
mac_comp               0 non-null float64
public_comp            0 non-null float64
other_comp             0 non-null float64
comp_source            368599 non-null object
dtypes: datetime64[ns](1), float64(10), object(8)
memory usage: 69.6+ MB

In [50]:
c = c[c.parcel.isin(ppns)]
c = c[(c.c_file_date < np.datetime64('2014-03-01')) & (c.c_file_date > np.datetime64('2006-03-01'))]

In [51]:
c.to_csv('clean_data/complaints_tci.csv')

## Postal data
Filenames: ```pv201302.csv, pv201304.csv, pv201308.csv, pv201312.csv, pv201402.csv```

In [69]:
pos1 = pd.read_csv('original_data/pv201302.csv')
pos1['date'] = np.datetime64('2013-02-01')
pos2 = pd.read_csv('original_data/pv201304.csv')
pos2['date'] = np.datetime64('2013-04-01')
pos3 = pd.read_csv('original_data/pv201308.csv')
pos3['date'] = np.datetime64('2013-08-01')
pos4 = pd.read_csv('original_data/pv201312.csv')
pos4['date'] = np.datetime64('2013-12-01')
pos5 = pd.read_csv('original_data/pv201402.csv')
pos5['date'] = np.datetime64('2014-02-01')

In [70]:
p = pos1.append(pos2).append(pos3).append(pos4).append(pos5)
p = p[p.PARCEL.isin(ppns)]
p.to_csv('clean_data/postal_vacancy_tci.csv')