# Analysis of vacancy and foreclosures, transactions, sheriff's auctions, and armslength sales

In [2]:
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import pandas as pd
import numpy as np
import os

%matplotlib inline

path = '/'.join(os.getcwd().split('/')[:-1])
print(path)

/Volumes/Dropbox/largetransfer/luc/carter

In [3]:
df = pd.read_csv(path+'/data/model_data/tci_2_0.csv', index_col = 0)
tci = pd.read_csv(path+'/data/model_data/tci_2_2.csv', parse_dates=['Date'], dtype={'Parcel ID':str})
tci = pd.merge(tci, df[['NAME10','SPA_NAME']], how='left', right_index=True, left_on='parcel')
ppns = set(tci['parcel'])
dates = dict(zip(tci.parcel, tci.Date))
print(tci.shape)

(113132, 39)

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Foreclosures

In [3]:
fc = pd.read_csv(path+'/data/clean_data/foreclosure_filings2.csv', parse_dates=[2])
fc = fc.sort_values('filedate').groupby('caseno').last()
fc = fc.rename(columns={'filedate':'date'}).reset_index()

fc.columns

Index(['caseno', 'parcel', 'status', 'date', 'defendant', 'parcel_address',
       'dateid', 'case_title', 'plaintiff', 'FORE', 'LATITUDE', 'LONGITUDE',
       'zip_fore'],
      dtype='object')

In [4]:
min(fc.date), max(fc.date)

(Timestamp('2006-01-03 00:00:00'), Timestamp('2015-11-06 00:00:00'))

In [5]:
fc_parcel = set(fc.parcel)
tci['fc'] = tci.apply(lambda x: x.parcel in fc_parcel, axis=1)
pd.crosstab(tci.fc, tci.vacant)

vacant      0     1
fc
False   79154  3836
True    23940  6202

In [6]:
sum(tci.vacant), sum(tci.fc)

(10038, 30142)

#### Has it been foreclosed before?

So of the 30,142 parcels that have been foreclosed between 1/3/2006 and 11/6/2015, 6,202 are currently vacant, of the 10,038 total residential vacancies as measured by TCI. This means that 3,836 parcels were determined to be vacancy but never have been foreclosed.

In [7]:
fc_parcel = set(fc[fc.status=='Inactive'].parcel)
tci['fc'] = tci.apply(lambda x: x.parcel in fc_parcel, axis=1)
pd.crosstab(tci.fc, tci.vacant)

vacant      0     1
fc
False   79967  4135
True    23127  5903

In [8]:
fc_parcel = set(fc[fc.status=='Active'].parcel)
tci['fc'] = tci.apply(lambda x: x.parcel in fc_parcel, axis=1)
pd.crosstab(tci.fc, tci.vacant)

vacant       0     1
fc
False   101689  9455
True      1405   583

#### It is listed as an active or inactive foreclosure?

Active foreclosures make up about 9% of foreclosures, and active foreclosures are vacanty ~40% of the time as compared to ~20% of inactive foreclosures.

#### Plaintiff/defendant

The foreclosure dataset doesn't have plaintiffs, but it does have defendants. Not sure if there is information to mine from the defendants.

#### Number of times foreclosed

A look at the number of times a parcel has been foreclosed and the likelihood that it is vacant. 5% of parcels that have not been foreclosed are vacant, as compared to ~23% of parcels that have been foreclosed at least once.

In [9]:
tem = pd.merge(fc[['parcel','status']].groupby('parcel').count(), tci[['parcel','vacant']], how='right', left_index=True, right_on='parcel').fillna(0)
tem = tem[['status','vacant']].groupby('status').agg([sum,len])
tem['percent'] = tem.vacant['sum']/tem.vacant['len']
tem.T

status                  0             1            2            3           4  \
vacant  sum   3836.000000   4193.000000  1579.000000   330.000000   81.000000
        len  82990.000000  22045.000000  6255.000000  1422.000000  326.000000
percent          0.046222      0.190202     0.252438     0.232068    0.248466

status               5          6      7
vacant  sum  14.000000   4.000000  1.000
        len  71.000000  15.000000  8.000
percent       0.197183   0.266667  0.125

#### Broken down by SPAs

We can break down foreclosures and vacancies by SPAs to see how these relationships differ across neighborhoods. The first two columns, 'sum' and 'len' refer to the number of vacant properties that have been foreclosed (since 2006), and the number of properties that have been foreclosed (total since 2006). For reference is the number of parcels in the SPA and the number of vacant residential buildings in the SPA. 

Also included is the 'percent_true', which is the percent of foreclosed homes that are truely vacant, 'percent_foreclosed', the percent of the parcels in the SPA that have been foreclosed since 2006, 'vacancy_rate', the percent of parcels vacant according to TCI, and 'percent_vacancies_foreclosed', which is the percent of true vacancies that have been foreclosed since 2006.

**NOTE**: This is a count of all foreclosures.

The accuracy of using "has this been foreclosed before" as a variable ranges in accuracy from <10% to >40%. Neighborhoods with more wealth tend to have a lesser rate of foreclosure, and also tend to have vacancies that have a lesser rate of foreclosure, although that number ranges around 40-60%. This number, reflecting the percent of vacancies that have been foreclosed, is higher in east side neighborhoods. 

There are some interesting statistical notes, such as the high predictive power of foreclosures in North Shore Collinwood, which has a much lower vacancy rate than Collinwood-Nottingham, or much more vacancies with foreclosures as compared to Goodrich-Kirkland Pk.

**NOTE**: The best case scenario is to have 'percent_true' to be as high as possible. 'percent_vacancies_foreclosed' is better if it is higher, but that would imply that foreclosures and vacancies are more correlated, so there is a point to which that may be not true.

In [10]:
spas_fc = tci[tci.parcel.isin(fc.parcel)][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])
spas_fc['number_of_parcels'] = tci.groupby('SPA_NAME').count().parcel
spas_fc['number_of_vacancies'] = tci.groupby('SPA_NAME').agg(sum).vacant
spas_fc['percent_true'] = spas_fc.vacant['sum']*1.0/spas_fc.vacant['len']
spas_fc['percent_foreclosed'] = 1.0*spas_fc.vacant['len']/spas_fc.number_of_parcels
spas_fc['vacancy_rate'] = spas_fc['number_of_vacancies']/spas_fc['number_of_parcels']
spas_fc['percent_vacancies_foreclosed'] = spas_fc.vacant['sum']/spas_fc['number_of_vacancies']

In [11]:
spas_fc.sort_values('percent_true')

                        vacant       number_of_parcels number_of_vacancies  \
                           sum   len
SPA_NAME
Downtown                     0     2                39                   1
Kamm's                      91  1206              9059                 155
Old Brooklyn               171  2242             11113                 278
Jefferson                  120  1510              6331                 182
Bellaire-Puritas           103  1231              5132                 151
Edgewater                   15   149              1106                  25
Tremont                     29   270              1976                  80
West Boulevard             160  1485              5402                 228
Central                     32   292               734                  68
Lee-Harvard                159  1333              4579                 241
Clark-Fulton                71   560              2146                 150
Ohio City                   38   287              1659                  96
Brooklyn Centre             89   660              2342                 137
North Shore Collinwood     185  1341              4530                 256
Detroit Shoreway           100   641              2685                 191
Stockyards                 115   722              2709                 188
Euclid-Green                92   545              1631                 134
Cudell                     113   639              2216                 155
Lee-Seville                109   606              1994                 181
Buckeye-Shaker Square      185   877              2809                 278
Collinwood-Nottingham      321  1354              3697                 487
University                  14    54               538                  31
Fairfax                    115   428              1559                 191
Union-Miles                648  2346              7093                1054
Goodrich-Kirtland Pk        25    88               837                  62
Mount Pleasant             586  1957              5619                 913
Broadway-Slavic Village    679  2264              7248                1151
Hough                      235   694              2366                 396
Glenville                  985  2848              8694                1558
Buckeye-Woodhill           155   438              1544                 260
Kinsman                    186   474              1705                 309
St.Clair-Superior          276   599              2033                 451

                        percent_true percent_foreclosed vacancy_rate  \

SPA_NAME
Downtown                    0.000000           0.051282     0.025641
Kamm's                      0.075456           0.133127     0.017110
Old Brooklyn                0.076271           0.201746     0.025016
Jefferson                   0.079470           0.238509     0.028747
Bellaire-Puritas            0.083672           0.239867     0.029423
Edgewater                   0.100671           0.134720     0.022604
Tremont                     0.107407           0.136640     0.040486
West Boulevard              0.107744           0.274898     0.042207
Central                     0.109589           0.397820     0.092643
Lee-Harvard                 0.119280           0.291112     0.052632
Clark-Fulton                0.126786           0.260951     0.069897
Ohio City                   0.132404           0.172996     0.057866
Brooklyn Centre             0.134848           0.281810     0.058497
North Shore Collinwood      0.137957           0.296026     0.056512
Detroit Shoreway            0.156006           0.238734     0.071136
Stockyards                  0.159280           0.266519     0.069398
Euclid-Green                0.168807           0.334151     0.082158
Cudell                      0.176839           0.288357     0.069946
Lee-Seville                 0.179868           0.303912     0.090772
Buckeye-Shaker Square       0.210946           0.312211     0.098968
Collinwood-Nottingham       0.237075           0.366243     0.131728
University                  0.259259           0.100372     0.057621
Fairfax                     0.268692           0.274535     0.122514
Union-Miles                 0.276215           0.330749     0.148597
Goodrich-Kirtland Pk        0.284091           0.105137     0.074074
Mount Pleasant              0.299438           0.348283     0.162484
Broadway-Slavic Village     0.299912           0.312362     0.158802
Hough                       0.338617           0.293322     0.167371
Glenville                   0.345857           0.327582     0.179204
Buckeye-Woodhill            0.353881           0.283679     0.168394
Kinsman                     0.392405           0.278006     0.181232
St.Clair-Superior           0.460768           0.294638     0.221840

                        percent_vacancies_foreclosed

SPA_NAME
Downtown                                    0.000000
Kamm's                                      0.587097
Old Brooklyn                                0.615108
Jefferson                                   0.659341
Bellaire-Puritas                            0.682119
Edgewater                                   0.600000
Tremont                                     0.362500
West Boulevard                              0.701754
Central                                     0.470588
Lee-Harvard                                 0.659751
Clark-Fulton                                0.473333
Ohio City                                   0.395833
Brooklyn Centre                             0.649635
North Shore Collinwood                      0.722656
Detroit Shoreway                            0.523560
Stockyards                                  0.611702
Euclid-Green                                0.686567
Cudell                                      0.729032
Lee-Seville                                 0.602210
Buckeye-Shaker Square                       0.665468
Collinwood-Nottingham                       0.659138
University                                  0.451613
Fairfax                                     0.602094
Union-Miles                                 0.614801
Goodrich-Kirtland Pk                        0.403226
Mount Pleasant                              0.641840
Broadway-Slavic Village                     0.589922
Hough                                       0.593434
Glenville                                   0.632221
Buckeye-Woodhill                            0.596154
Kinsman                                     0.601942
St.Clair-Superior                           0.611973

## Sheriff's Auctions

In [4]:
sa = pd.read_csv(path+'/data/clean_data/sheriff_auction.csv', parse_dates=[2], encoding="ISO-8859-1")

In [9]:
reo = pd.read_csv(path+'/data/extra_data/reo.csv', encoding="utf-8")
reo = reo.groupby('GRANTEE1').last()

In [24]:
temp = pd.merge(sa, reo, how='left',left_on='purchaser', right_index=True)

In [29]:
temp[temp.purchaser.notnull()].shape

(29638, 27)

In [32]:
temp[~temp.purchaser.isin(reo.index)].purchaser

0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      N/a
5                                           ROBERT RUSSELL
7                                                      NaN
8                                                      NaN
9                                                      NaN
10                                                     NaN
13                                                     NaN
15                                                     N/a
16                                                     N/a
17                                                     N/a
18       THE BANK OF NEW YORK MELLON FKA THE BANK OF NE...
19                                                     NaN
20       DEUTSCHE BANK TRUST COMPANY AMERICAS AS TRUSTE...
21       WELLS FARGO BANK, N.A. AS TRUSTEE UNDER POOLIN...
22       U.S. BANK NATIONAL ASSOCIATION, AS TRUSTEE FOR...
23                                                     NaN
24       KEYBANK NATIONAL ASSOCIATION, 127 PUBLIC SQUAR...
25       US BANK NATIONAL ASSOCIATION, AS TRUSTEE FOR C...
26       GMAC MORTGAGE CORP. 500 ENTERPRISE RD. HORSHAM...
27                   CROCK REAL ESTATE INVESTMENTS III LLC
28       LASALLE BANK NATIONAL ASSOCIATION, AS TRUSTEE ...
29       DEUTSCHE BANK NATIONAL TRUST COMPANY, AS TRUST...
31                              LAKESIDE REO VENTURES, LLC
32                                                     NaN
33                                                     N/a
37       OHIO SAVINGS BANK 1111 CHESTER AVENUE, MAIL CO...
                               ...
43019                                                  NaN
43020                                                  NaN
43021                                                  NaN
43022                                                  NaN
43023                                                  NaN
43024    JP MORGAN CHASE BANK, AS TRUSTEE FOR CERTIFICA...
43025                          GENERATION MORTGAGE COMPANY
43026                                                  NaN
43027                                                  N/a
43028    DEUTSCHE BANK NATIONAL TRUST COMPANY, AS TRUST...
43029                                                  NaN
43030                                                  NaN
43032    SECRETARY OF HOUSING AND URBAN DEVELOPMENT, 53...
43033    DEUTSCHE BANK NATIONAL TRUST COMPANYAS TRUSTEE...
43034                                                  NaN
43035                                                  NaN
43036                                                  NaN
43037                                                  NaN
43038    WELLS FARGO BANK, N.A., AS TRUSTEE FOR THE BEN...
43039    EMC MORTGAGE CORPORATION 909 HIDDEN RIDGE DRIV...
43041                                                  NaN
43042                                                  NaN
43045    FEDERAL NATIONAL MORTGAGE ASSOCIATION (*FANNIE...
43046                                                  NaN
43047    HOUSEHOLD REALTY CORP. C/O HSBC MORTGAGE SERVI...
43050    WELLS FARGO ETC. 1675 PALM BEACH LAKES BLVD. W...
43051                                                  NaN
43052                                                  NaN
43053                                                  NaN
43054                                                  NaN
Name: purchaser, dtype: object

In [26]:
sa.shape

(43055, 25)

(6305083, 28)

In [10]:
reo

,GRANTEE1,stdgr1,finalgr1
0,"BANK ONE, N.A.",BANK ONE,LOCAL BANKS
1,WELLS FARGO BANK NA,WELLS FARGO,NONLOCAL BANKS
2,"BENEFICIAL OHIO, INC.",BENEFICIAL OHIO INC,FINANCIAL INSTITUTION
3,DEUTSCH BANK TRUST CO.,DEUTSCHE BANK TRS,NONLOCAL BANKS
4,SEC OF HUD,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
5,FEDERAL NATIONAL MORTGAGE ASSOCIATION,FANNIE MAE,GSE
6,TCIC REO 2 LLC,"TCIF REO1,LLC",FINANCIAL INSTITUTION
7,HOMESALES INC,HOMESALES INC OF DELAWARE,FINANCIAL INSTITUTION
8,DEUTSCHE BANK TRUST COMPANY AMERICAS,DEUTSCHE BANK TRS,NONLOCAL BANKS
9,THIRD FEDERAL SAVINGS AND LOAN ASSOCIATION OF ...,THIRD FEDERAL BANK SAVINGS AND LOAN,LOCAL BANKS
10,KEYBANK N.A.,KEY BANK NATIONAL ASSCOIATION,LOCAL BANKS
11,US BANK N.A. SUCCESSOR,U S BANK,LOCAL BANKS
12,"LASALLE BANK NATIONAL ASSOCIATION, AS TRUSTEE",LASALLE BANK,NONLOCAL BANKS
13,"BANK OF NEW YORK, TRUSTEE",BANK OF NEW YORK,NONLOCAL BANKS
14,BANK OF NEW YORK AS TRUSTEE,BANK OF NEW YORK,NONLOCAL BANKS
15,HSBC BANK USA N.A. TRUSTEE,HSBC,NONLOCAL BANKS
16,THIRD FEDERAL SAVINGS AND LOAN ASSOC. OF CLEVE...,THIRD FEDERAL BANK SAVINGS AND LOAN,LOCAL BANKS
17,US BANK N.A. TRUSTEE,U S BANK,LOCAL BANKS
18,FANNIEMAE,FANNIE MAE,GSE
19,DEUTSCHE BANK NATIONAL TRUST COMPANY AS TRUSTEE,DEUTSCHE BANK TRS,NONLOCAL BANKS
20,"HSBC MORTGAGE SERVICES, INC.",HSBC,NONLOCAL BANKS
21,DEUTSCHE BANK NATIONAL TRUST COMPANY,DEUTSCHE BANK TRS,NONLOCAL BANKS
22,GMAC MORTGAGE LLC,GMAC MORTGAGE CORP.,FINANCIAL INSTITUTION
23,FEDERAL NATIONAL MORTGAGE ASSOC.,FANNIE MAE,GSE
24,LASALLE BANK N.A. TRUSTEE,LASALLE BANK,NONLOCAL BANKS
25,"DEUTSCHE BANK NATIONAL TRUST CO., TRUSTEE",DEUTSCHE BANK TRS,NONLOCAL BANKS
26,"DEUTSCHE BANK NATION TRUST CO., TRUSTEE",DEUTSCHE BANK TRS,NONLOCAL BANKS
27,AURORA LOAN SERVICES,AURORA LOAN SERVICES,FINANCIAL INSTITUTION
28,"DEUTSCHE BANK NATIONAL TRUST CO., TRUSTEE",DEUTSCHE BANK TRS,NONLOCAL BANKS
29,FEDERAL NATIONAL MORTGAGE ASSOC.,FANNIE MAE,GSE
...,...,...,...
73005,Sec of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73006,Sec of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73007,Sec of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73008,Sec of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73009,Sec of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73010,Wells Fargo Bank,WELLS FARGO,NONLOCAL BANKS
73011,Wells Fargo Bank,WELLS FARGO,NONLOCAL BANKS
73012,Wells Fargo Bank,WELLS FARGO,NONLOCAL BANKS
73013,Wells Fargo Bank,WELLS FARGO,NONLOCAL BANKS
73014,Wells Fargo Bank,WELLS FARGO,NONLOCAL BANKS
73015,Wells Fargo Bank,WELLS FARGO,NONLOCAL BANKS
73016,Wells Fargo Bank,WELLS FARGO,NONLOCAL BANKS
73017,Wells Fargo Bank,WELLS FARGO,NONLOCAL BANKS
73018,Sec Of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73019,Sec Of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73020,Sec Of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73021,Sec Of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73022,Sec Of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73023,Sec Of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73024,Sec Of Hud,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
73025,Contimortgage Corp,CONTIMORTAGE CORP,FINANCIAL INSTITUTION
73026,Contimortgage Corp,CONTIMORTAGE CORP,FINANCIAL INSTITUTION
73027,Contimortgage Corp,CONTIMORTAGE CORP,FINANCIAL INSTITUTION
73028,Contimortgage Corp,CONTIMORTAGE CORP,FINANCIAL INSTITUTION
73029,Contimortgage Corp,CONTIMORTAGE CORP,FINANCIAL INSTITUTION
73030,Contimortgage Corp,CONTIMORTAGE CORP,FINANCIAL INSTITUTION
73031,Contimortgage Corp,CONTIMORTAGE CORP,FINANCIAL INSTITUTION
73032,Contimortgage Corp,CONTIMORTAGE CORP,FINANCIAL INSTITUTION
73033,Contimortgage Corp,CONTIMORTAGE CORP,FINANCIAL INSTITUTION
73034,Contimortgage Corp,CONTIMORTAGE CORP,FINANCIAL INSTITUTION

In [25]:
purchaser = sa.groupby('scaseno').last().groupby('purchaser').count().sort_values('parcel',ascending=False)[['parcel']]
purchaser = purchaser.rename(columns={'parcel':'purchaser_count'})
sa = pd.merge(sa, purchaser, how='left', left_on='purchaser',right_index=True)
# sa = sa.sort_values('salesdt').groupby('parcel').last()
sa = sa.rename(columns={'salesdt':'date'})
# sa = sa[['date','plaintiff_count']]
# sa['type'] = 'sa'
# sa = sa.reset_index()
sa['purchaser_count'] = sa['purchaser_count'].fillna(0)
sa.columns

Index(['parcel', 'address', 'date', 'saleno', 'sold_amt', 'appraisal',
       'minbid', 'scaseno', 'withdrawn', 'plaintiff', 'sdefend', 'purchaser',
       'paddress', 'rparty', 'raddress', 'attorney', 'descript', 'location',
       'defend_att', 'with', 'status', 'ssold', 'SHF', 'LATITUDE', 'LONGITUDE',
       'purchaser_count'],
      dtype='object')

In [4]:
plaintiffs = sa.groupby('scaseno').last().groupby('plaintiff').count().sort_values('parcel',ascending=False)[['parcel']]
plaintiffs = plaintiffs.rename(columns={'parcel':'plaintiff_count'})
sa = pd.merge(sa, plaintiffs, how='left', left_on='plaintiff',right_index=True)
# sa = sa.sort_values('salesdt').groupby('parcel').last()
sa = sa.rename(columns={'salesdt':'date'})
# sa = sa[['date','plaintiff_count']]
# sa['type'] = 'sa'
# sa = sa.reset_index()
sa.columns

Index(['parcel', 'address', 'date', 'saleno', 'sold_amt', 'appraisal',
       'minbid', 'scaseno', 'withdrawn', 'plaintiff', 'sdefend', 'purchaser',
       'paddress', 'rparty', 'raddress', 'attorney', 'descript', 'location',
       'defend_att', 'with', 'status', 'ssold', 'SHF', 'LATITUDE', 'LONGITUDE',
       'plaintiff_count'],
      dtype='object')

#### Amount of sheriff's auctions
Similar to foreclosure, a property appearing in the list of sheriff's auctions (unfiltered, and since 2000), increases the likelihood that it is vacant, from 6% to ~20%. Similar to foreclosure, about 6,000 vacant properties show up in the sheriff's auction dataset, which goes back farther.

In [5]:
tem = pd.merge(sa.groupby('scaseno').last().groupby('parcel').count(), tci[['parcel','vacant']], how='right', left_index=True, right_on='parcel').fillna(0)
tem = tem[['plaintiff_count','vacant']].groupby('plaintiff_count').agg([sum,len])
tem['percent'] = tem.vacant['sum']/tem.vacant['len']
tem.T

plaintiff_count             0             1            2            3  \
vacant  sum       4834.000000   3731.000000  1142.000000   235.000000
        len      85446.000000  21108.000000  5112.000000  1019.000000
percent              0.056574      0.176758     0.223396     0.230618

plaintiff_count           4           5          6       7    8
vacant  sum       65.000000   18.000000  10.000000   2.000  1.0
        len      298.000000  101.000000  30.000000  16.000  2.0
percent            0.218121    0.178218   0.333333   0.125  0.5

#### Breakdown by SPA

About half of the vacancies in each SPA show up in the sheriff's sales dataset, but unfortunately in many neighborhoods there are plenty of sheriff's sales in these neighborhoods, so its effectiveness as an indicator ranges from 8% to 45% accurate.

Perhaps changing the criteria that we are looking at will help. One possibility is looking at sheriff's sales in the last few years, or perhaps looking at sheriff's sales to banks or other real-estate entities.

In [6]:
spas_sa = tci[tci.parcel.isin(sa.parcel)][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])
spas_sa['number_of_parcels'] = tci.groupby('SPA_NAME').count().parcel
spas_sa['number_of_vacancies'] = tci.groupby('SPA_NAME').agg(sum).vacant
spas_sa['percent_true'] = spas_sa.vacant['sum']*1.0/spas_sa.vacant['len']
spas_sa['percent_sheriffs'] = 1.0*spas_sa.vacant['len']/spas_sa.number_of_parcels
spas_sa['vacancy_rate'] = spas_sa['number_of_vacancies']/spas_sa['number_of_parcels']
spas_sa['percent_vacancies_sheriffs'] = spas_sa.vacant['sum']/spas_sa['number_of_vacancies']
spas_sa

                        vacant       number_of_parcels number_of_vacancies  \
                           sum   len
SPA_NAME
Bellaire-Puritas            89  1226              5132                 151
Broadway-Slavic Village    587  2254              7248                1151
Brooklyn Centre             72   615              2342                 137
Buckeye-Shaker Square      167   836              2809                 278
Buckeye-Woodhill           143   415              1544                 260
Central                     27   159               734                  68
Clark-Fulton                58   586              2146                 150
Collinwood-Nottingham      282  1313              3697                 487
Cudell                      84   647              2216                 155
Detroit Shoreway            81   615              2685                 191
Downtown                     0     1                39                   1
Edgewater                   11   117              1106                  25
Euclid-Green                69   539              1631                 134
Fairfax                     87   347              1559                 191
Glenville                  817  2483              8694                1558
Goodrich-Kirtland Pk        23    74               837                  62
Hough                      185   574              2366                 396
Jefferson                  105  1471              6331                 182
Kamm's                      66   975              9059                 155
Kinsman                    156   440              1705                 309
Lee-Harvard                135  1119              4579                 241
Lee-Seville                 93   589              1994                 181
Mount Pleasant             494  1797              5619                 913
North Shore Collinwood     156  1182              4530                 256
Ohio City                   26   255              1659                  96
Old Brooklyn               140  1992             11113                 278
St.Clair-Superior          249   544              2033                 451
Stockyards                  95   737              2709                 188
Tremont                     22   267              1976                  80
Union-Miles                569  2151              7093                1054
University                   9    38               538                  31
West Boulevard             125  1429              5402                 228

                        percent_true percent_sheriffs vacancy_rate  \

SPA_NAME
Bellaire-Puritas            0.072594         0.238893     0.029423
Broadway-Slavic Village     0.260426         0.310982     0.158802
Brooklyn Centre             0.117073         0.262596     0.058497
Buckeye-Shaker Square       0.199761         0.297615     0.098968
Buckeye-Woodhill            0.344578         0.268782     0.168394
Central                     0.169811         0.216621     0.092643
Clark-Fulton                0.098976         0.273066     0.069897
Collinwood-Nottingham       0.214775         0.355153     0.131728
Cudell                      0.129830         0.291968     0.069946
Detroit Shoreway            0.131707         0.229050     0.071136
Downtown                    0.000000         0.025641     0.025641
Edgewater                   0.094017         0.105787     0.022604
Euclid-Green                0.128015         0.330472     0.082158
Fairfax                     0.250720         0.222579     0.122514
Glenville                   0.329037         0.285599     0.179204
Goodrich-Kirtland Pk        0.310811         0.088411     0.074074
Hough                       0.322300         0.242604     0.167371
Jefferson                   0.071380         0.232349     0.028747
Kamm's                      0.067692         0.107628     0.017110
Kinsman                     0.354545         0.258065     0.181232
Lee-Harvard                 0.120643         0.244377     0.052632
Lee-Seville                 0.157895         0.295386     0.090772
Mount Pleasant              0.274903         0.319808     0.162484
North Shore Collinwood      0.131980         0.260927     0.056512
Ohio City                   0.101961         0.153707     0.057866
Old Brooklyn                0.070281         0.179250     0.025016
St.Clair-Superior           0.457721         0.267585     0.221840
Stockyards                  0.128901         0.272056     0.069398
Tremont                     0.082397         0.135121     0.040486
Union-Miles                 0.264528         0.303257     0.148597
University                  0.236842         0.070632     0.057621
West Boulevard              0.087474         0.264532     0.042207

                        percent_vacancies_sheriffs

SPA_NAME
Bellaire-Puritas                          0.589404
Broadway-Slavic Village                   0.509991
Brooklyn Centre                           0.525547
Buckeye-Shaker Square                     0.600719
Buckeye-Woodhill                          0.550000
Central                                   0.397059
Clark-Fulton                              0.386667
Collinwood-Nottingham                     0.579055
Cudell                                    0.541935
Detroit Shoreway                          0.424084
Downtown                                  0.000000
Edgewater                                 0.440000
Euclid-Green                              0.514925
Fairfax                                   0.455497
Glenville                                 0.524390
Goodrich-Kirtland Pk                      0.370968
Hough                                     0.467172
Jefferson                                 0.576923
Kamm's                                    0.425806
Kinsman                                   0.504854
Lee-Harvard                               0.560166
Lee-Seville                               0.513812
Mount Pleasant                            0.541073
North Shore Collinwood                    0.609375
Ohio City                                 0.270833
Old Brooklyn                              0.503597
St.Clair-Superior                         0.552106
Stockyards                                0.505319
Tremont                                   0.275000
Union-Miles                               0.539848
University                                0.290323
West Boulevard                            0.548246

In [23]:
spas_sa = tci[tci.parcel.isin(sa[sa.date>dt.datetime(2011,1,1)].parcel)][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])
spas_sa['number_of_parcels'] = tci.groupby('SPA_NAME').count().parcel
spas_sa['number_of_vacancies'] = tci.groupby('SPA_NAME').agg(sum).vacant
spas_sa['percent_true'] = spas_sa.vacant['sum']*1.0/spas_sa.vacant['len']
spas_sa['percent_sheriffs'] = 1.0*spas_sa.vacant['len']/spas_sa.number_of_parcels
spas_sa['vacancy_rate'] = spas_sa['number_of_vacancies']/spas_sa['number_of_parcels']
spas_sa['percent_vacancies_sheriffs'] = spas_sa.vacant['sum']/spas_sa['number_of_vacancies']
spas_sa

                        vacant      number_of_parcels number_of_vacancies  \
                           sum  len
SPA_NAME
Bellaire-Puritas            67  435              5132                 151
Broadway-Slavic Village    216  616              7248                1151
Brooklyn Centre             39  204              2342                 137
Buckeye-Shaker Square       65  260              2809                 278
Buckeye-Woodhill            45  106              1544                 260
Central                     16   99               734                  68
Clark-Fulton                24  176              2146                 150
Collinwood-Nottingham      103  367              3697                 487
Cudell                      48  201              2216                 155
Detroit Shoreway            33  181              2685                 191
Downtown                     0    1                39                   1
Edgewater                    5   48              1106                  25
Euclid-Green                23  158              1631                 134
Fairfax                     40  129              1559                 191
Glenville                  257  650              8694                1558
Goodrich-Kirtland Pk        13   28               837                  62
Hough                       52  153              2366                 396
Jefferson                   74  558              6331                 182
Kamm's                      58  454              9059                 155
Kinsman                     49  102              1705                 309
Lee-Harvard                 91  454              4579                 241
Lee-Seville                 32  172              1994                 181
Mount Pleasant             172  519              5619                 913
North Shore Collinwood      93  441              4530                 256
Ohio City                   16   79              1659                  96
Old Brooklyn               108  821             11113                 278
St.Clair-Superior           50  121              2033                 451
Stockyards                  43  197              2709                 188
Tremont                     11   68              1976                  80
Union-Miles                176  574              7093                1054
University                   4   11               538                  31
West Boulevard              78  524              5402                 228

                        percent_true percent_sheriffs vacancy_rate  \

SPA_NAME
Bellaire-Puritas            0.154023         0.084762     0.029423
Broadway-Slavic Village     0.350649         0.084989     0.158802
Brooklyn Centre             0.191176         0.087105     0.058497
Buckeye-Shaker Square       0.250000         0.092560     0.098968
Buckeye-Woodhill            0.424528         0.068653     0.168394
Central                     0.161616         0.134877     0.092643
Clark-Fulton                0.136364         0.082013     0.069897
Collinwood-Nottingham       0.280654         0.099270     0.131728
Cudell                      0.238806         0.090704     0.069946
Detroit Shoreway            0.182320         0.067412     0.071136
Downtown                    0.000000         0.025641     0.025641
Edgewater                   0.104167         0.043400     0.022604
Euclid-Green                0.145570         0.096873     0.082158
Fairfax                     0.310078         0.082745     0.122514
Glenville                   0.395385         0.074764     0.179204
Goodrich-Kirtland Pk        0.464286         0.033453     0.074074
Hough                       0.339869         0.064666     0.167371
Jefferson                   0.132616         0.088138     0.028747
Kamm's                      0.127753         0.050116     0.017110
Kinsman                     0.480392         0.059824     0.181232
Lee-Harvard                 0.200441         0.099148     0.052632
Lee-Seville                 0.186047         0.086259     0.090772
Mount Pleasant              0.331407         0.092365     0.162484
North Shore Collinwood      0.210884         0.097351     0.056512
Ohio City                   0.202532         0.047619     0.057866
Old Brooklyn                0.131547         0.073877     0.025016
St.Clair-Superior           0.413223         0.059518     0.221840
Stockyards                  0.218274         0.072721     0.069398
Tremont                     0.161765         0.034413     0.040486
Union-Miles                 0.306620         0.080925     0.148597
University                  0.363636         0.020446     0.057621
West Boulevard              0.148855         0.097001     0.042207

                        percent_vacancies_sheriffs

SPA_NAME
Bellaire-Puritas                          0.443709
Broadway-Slavic Village                   0.187663
Brooklyn Centre                           0.284672
Buckeye-Shaker Square                     0.233813
Buckeye-Woodhill                          0.173077
Central                                   0.235294
Clark-Fulton                              0.160000
Collinwood-Nottingham                     0.211499
Cudell                                    0.309677
Detroit Shoreway                          0.172775
Downtown                                  0.000000
Edgewater                                 0.200000
Euclid-Green                              0.171642
Fairfax                                   0.209424
Glenville                                 0.164955
Goodrich-Kirtland Pk                      0.209677
Hough                                     0.131313
Jefferson                                 0.406593
Kamm's                                    0.374194
Kinsman                                   0.158576
Lee-Harvard                               0.377593
Lee-Seville                               0.176796
Mount Pleasant                            0.188390
North Shore Collinwood                    0.363281
Ohio City                                 0.166667
Old Brooklyn                              0.388489
St.Clair-Superior                         0.110865
Stockyards                                0.228723
Tremont                                   0.137500
Union-Miles                               0.166983
University                                0.129032
West Boulevard                            0.342105

#### Plaintiffs
Unlike the foreclosure dataset, we have access to plaintiff's names. So let's take a look at repeated plaintiffs, as they are likely to be banks or larger entities.

In [59]:
spas = tci[tci.parcel.isin(sa[(sa.plaintiff_count>-1)&(sa.date>dt.datetime(2011,1,1))].parcel)][['vacant']]
number_of_parcels = len(tci)
number_of_vacancies = sum(tci.vacant)
percent_true = sum(spas.vacant)*1.0/len(spas)
vacancy_rate = number_of_vacancies/number_of_parcels
percent_vacancies_sheriffs = sum(spas.vacant)/number_of_vacancies

In [60]:
percent_true,percent_vacancies_sheriffs

(0.23582257158899494, 0.20920502092050208)

In [55]:
spas = tci[tci.parcel.isin(sa[(sa.plaintiff.isin(plaintiffs.iloc[0:30].index))&(sa.date>dt.datetime(2011,1,1))].parcel)][['vacant']]
number_of_parcels = len(tci)
number_of_vacancies = sum(tci.vacant)
percent_true = sum(spas.vacant)*1.0/len(spas)
vacancy_rate = number_of_vacancies/number_of_parcels
percent_vacancies_sheriffs = sum(spas.vacant)/number_of_vacancies

In [57]:
percent_true,percent_vacancies_sheriffs

(0.26143790849673204, 0.091651723450886624)

So, although it does increase the accuracy a few percentage points, it halves the number of vacancies that we are identifying. Perhaps additional filters need to be included?

In [8]:
for i in set(sa['with']):
    tem = tci[tci.parcel.isin(sa[sa['with']==i].parcel)]
    print(i, sum(tem.vacant), len(tem.vacant))
#     print(i)

nan 0 0
WITHD 1364 5720
MINBI 65 335
VACAT 0 1
ORDER 227 1142
NOBID 63 248
NOTSO 123 437
SOLD- 397 3101
BANKR 275 1587
.Â  1 3
PLAIN 1 2
SALEV 9 39
. 0 1

In [64]:
sa.columns

Index(['parcel', 'address', 'date', 'saleno', 'sold_amt', 'appraisal',
       'minbid', 'scaseno', 'withdrawn', 'plaintiff', 'sdefend', 'purchaser',
       'paddress', 'rparty', 'raddress', 'attorney', 'descript', 'location',
       'defend_att', 'with', 'status', 'ssold', 'SHF', 'LATITUDE', 'LONGITUDE',
       'plaintiff_count'],
      dtype='object')

In [63]:
spas_sa = tci[tci.parcel.isin(sa[(sa.plaintiff_count>-1)&(sa.date>dt.datetime(2011,1,1))].parcel)][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])
spas_sa['number_of_parcels'] = tci.groupby('SPA_NAME').count().parcel
spas_sa['number_of_vacancies'] = tci.groupby('SPA_NAME').agg(sum).vacant
spas_sa['percent_true'] = spas_sa.vacant['sum']*1.0/spas_sa.vacant['len']
spas_sa['percent_sheriffs'] = 1.0*spas_sa.vacant['len']/spas_sa.number_of_parcels
spas_sa['vacancy_rate'] = spas_sa['number_of_vacancies']/spas_sa['number_of_parcels']
spas_sa['percent_vacancies_sheriffs'] = spas_sa.vacant['sum']/spas_sa['number_of_vacancies']
spas_sa

                        vacant      number_of_parcels number_of_vacancies  \
                           sum  len
SPA_NAME
Bellaire-Puritas            67  435              5132                 151
Broadway-Slavic Village    216  616              7248                1151
Brooklyn Centre             38  203              2342                 137
Buckeye-Shaker Square       65  260              2809                 278
Buckeye-Woodhill            45  106              1544                 260
Central                     16   99               734                  68
Clark-Fulton                24  176              2146                 150
Collinwood-Nottingham      103  367              3697                 487
Cudell                      48  201              2216                 155
Detroit Shoreway            33  181              2685                 191
Downtown                     0    1                39                   1
Edgewater                    5   48              1106                  25
Euclid-Green                23  158              1631                 134
Fairfax                     40  129              1559                 191
Glenville                  257  650              8694                1558
Goodrich-Kirtland Pk        13   28               837                  62
Hough                       52  153              2366                 396
Jefferson                   74  558              6331                 182
Kamm's                      58  454              9059                 155
Kinsman                     49  102              1705                 309
Lee-Harvard                 91  454              4579                 241
Lee-Seville                 32  172              1994                 181
Mount Pleasant             172  519              5619                 913
North Shore Collinwood      93  441              4530                 256
Ohio City                   16   79              1659                  96
Old Brooklyn               108  821             11113                 278
St.Clair-Superior           50  121              2033                 451
Stockyards                  43  196              2709                 188
Tremont                     11   68              1976                  80
Union-Miles                176  574              7093                1054
University                   4   11               538                  31
West Boulevard              78  524              5402                 228

                        percent_true percent_sheriffs vacancy_rate  \

SPA_NAME
Bellaire-Puritas            0.154023         0.084762     0.029423
Broadway-Slavic Village     0.350649         0.084989     0.158802
Brooklyn Centre             0.187192         0.086678     0.058497
Buckeye-Shaker Square       0.250000         0.092560     0.098968
Buckeye-Woodhill            0.424528         0.068653     0.168394
Central                     0.161616         0.134877     0.092643
Clark-Fulton                0.136364         0.082013     0.069897
Collinwood-Nottingham       0.280654         0.099270     0.131728
Cudell                      0.238806         0.090704     0.069946
Detroit Shoreway            0.182320         0.067412     0.071136
Downtown                    0.000000         0.025641     0.025641
Edgewater                   0.104167         0.043400     0.022604
Euclid-Green                0.145570         0.096873     0.082158
Fairfax                     0.310078         0.082745     0.122514
Glenville                   0.395385         0.074764     0.179204
Goodrich-Kirtland Pk        0.464286         0.033453     0.074074
Hough                       0.339869         0.064666     0.167371
Jefferson                   0.132616         0.088138     0.028747
Kamm's                      0.127753         0.050116     0.017110
Kinsman                     0.480392         0.059824     0.181232
Lee-Harvard                 0.200441         0.099148     0.052632
Lee-Seville                 0.186047         0.086259     0.090772
Mount Pleasant              0.331407         0.092365     0.162484
North Shore Collinwood      0.210884         0.097351     0.056512
Ohio City                   0.202532         0.047619     0.057866
Old Brooklyn                0.131547         0.073877     0.025016
St.Clair-Superior           0.413223         0.059518     0.221840
Stockyards                  0.219388         0.072351     0.069398
Tremont                     0.161765         0.034413     0.040486
Union-Miles                 0.306620         0.080925     0.148597
University                  0.363636         0.020446     0.057621
West Boulevard              0.148855         0.097001     0.042207

                        percent_vacancies_sheriffs

SPA_NAME
Bellaire-Puritas                          0.443709
Broadway-Slavic Village                   0.187663
Brooklyn Centre                           0.277372
Buckeye-Shaker Square                     0.233813
Buckeye-Woodhill                          0.173077
Central                                   0.235294
Clark-Fulton                              0.160000
Collinwood-Nottingham                     0.211499
Cudell                                    0.309677
Detroit Shoreway                          0.172775
Downtown                                  0.000000
Edgewater                                 0.200000
Euclid-Green                              0.171642
Fairfax                                   0.209424
Glenville                                 0.164955
Goodrich-Kirtland Pk                      0.209677
Hough                                     0.131313
Jefferson                                 0.406593
Kamm's                                    0.374194
Kinsman                                   0.158576
Lee-Harvard                               0.377593
Lee-Seville                               0.176796
Mount Pleasant                            0.188390
North Shore Collinwood                    0.363281
Ohio City                                 0.166667
Old Brooklyn                              0.388489
St.Clair-Superior                         0.110865
Stockyards                                0.228723
Tremont                                   0.137500
Union-Miles                               0.166983
University                                0.129032
West Boulevard                            0.342105

In [62]:
spas_sa = tci[tci.parcel.isin(sa[(sa.plaintiff_count>50)&(sa.date>dt.datetime(2011,1,1))].parcel)][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])
spas_sa['number_of_parcels'] = tci.groupby('SPA_NAME').count().parcel
spas_sa['number_of_vacancies'] = tci.groupby('SPA_NAME').agg(sum).vacant
spas_sa['percent_true'] = spas_sa.vacant['sum']*1.0/spas_sa.vacant['len']
spas_sa['percent_sheriffs'] = 1.0*spas_sa.vacant['len']/spas_sa.number_of_parcels
spas_sa['vacancy_rate'] = spas_sa['number_of_vacancies']/spas_sa['number_of_parcels']
spas_sa['percent_vacancies_sheriffs'] = spas_sa.vacant['sum']/spas_sa['number_of_vacancies']
spas_sa

                        vacant      number_of_parcels number_of_vacancies  \
                           sum  len
SPA_NAME
Bellaire-Puritas            41  234              5132                 151
Broadway-Slavic Village    149  400              7248                1151
Brooklyn Centre             22  115              2342                 137
Buckeye-Shaker Square       42  161              2809                 278
Buckeye-Woodhill            28   63              1544                 260
Central                     10   65               734                  68
Clark-Fulton                17   99              2146                 150
Collinwood-Nottingham       65  228              3697                 487
Cudell                      30  119              2216                 155
Detroit Shoreway            22  101              2685                 191
Edgewater                    3   26              1106                  25
Euclid-Green                15   90              1631                 134
Fairfax                     29   76              1559                 191
Glenville                  164  392              8694                1558
Goodrich-Kirtland Pk         8   16               837                  62
Hough                       36   94              2366                 396
Jefferson                   50  310              6331                 182
Kamm's                      37  229              9059                 155
Kinsman                     29   54              1705                 309
Lee-Harvard                 63  285              4579                 241
Lee-Seville                 21   96              1994                 181
Mount Pleasant             109  326              5619                 913
North Shore Collinwood      67  265              4530                 256
Ohio City                    8   43              1659                  96
Old Brooklyn                69  451             11113                 278
St.Clair-Superior           28   62              2033                 451
Stockyards                  28  113              2709                 188
Tremont                      6   40              1976                  80
Union-Miles                126  388              7093                1054
University                   4    7               538                  31
West Boulevard              41  282              5402                 228

                        percent_true percent_sheriffs vacancy_rate  \

SPA_NAME
Bellaire-Puritas            0.175214         0.045596     0.029423
Broadway-Slavic Village     0.372500         0.055188     0.158802
Brooklyn Centre             0.191304         0.049103     0.058497
Buckeye-Shaker Square       0.260870         0.057316     0.098968
Buckeye-Woodhill            0.444444         0.040803     0.168394
Central                     0.153846         0.088556     0.092643
Clark-Fulton                0.171717         0.046132     0.069897
Collinwood-Nottingham       0.285088         0.061672     0.131728
Cudell                      0.252101         0.053700     0.069946
Detroit Shoreway            0.217822         0.037616     0.071136
Edgewater                   0.115385         0.023508     0.022604
Euclid-Green                0.166667         0.055181     0.082158
Fairfax                     0.381579         0.048749     0.122514
Glenville                   0.418367         0.045089     0.179204
Goodrich-Kirtland Pk        0.500000         0.019116     0.074074
Hough                       0.382979         0.039730     0.167371
Jefferson                   0.161290         0.048965     0.028747
Kamm's                      0.161572         0.025279     0.017110
Kinsman                     0.537037         0.031672     0.181232
Lee-Harvard                 0.221053         0.062241     0.052632
Lee-Seville                 0.218750         0.048144     0.090772
Mount Pleasant              0.334356         0.058017     0.162484
North Shore Collinwood      0.252830         0.058499     0.056512
Ohio City                   0.186047         0.025919     0.057866
Old Brooklyn                0.152993         0.040583     0.025016
St.Clair-Superior           0.451613         0.030497     0.221840
Stockyards                  0.247788         0.041713     0.069398
Tremont                     0.150000         0.020243     0.040486
Union-Miles                 0.324742         0.054702     0.148597
University                  0.571429         0.013011     0.057621
West Boulevard              0.145390         0.052203     0.042207

                        percent_vacancies_sheriffs

SPA_NAME
Bellaire-Puritas                          0.271523
Broadway-Slavic Village                   0.129453
Brooklyn Centre                           0.160584
Buckeye-Shaker Square                     0.151079
Buckeye-Woodhill                          0.107692
Central                                   0.147059
Clark-Fulton                              0.113333
Collinwood-Nottingham                     0.133470
Cudell                                    0.193548
Detroit Shoreway                          0.115183
Edgewater                                 0.120000
Euclid-Green                              0.111940
Fairfax                                   0.151832
Glenville                                 0.105263
Goodrich-Kirtland Pk                      0.129032
Hough                                     0.090909
Jefferson                                 0.274725
Kamm's                                    0.238710
Kinsman                                   0.093851
Lee-Harvard                               0.261411
Lee-Seville                               0.116022
Mount Pleasant                            0.119387
North Shore Collinwood                    0.261719
Ohio City                                 0.083333
Old Brooklyn                              0.248201
St.Clair-Superior                         0.062084
Stockyards                                0.148936
Tremont                                   0.075000
Union-Miles                               0.119545
University                                0.129032
West Boulevard                            0.179825

In [8]:
t = tci[tci.parcel.isin(sa[(sa.date > dt.datetime(2013,1,1))&(sa.status=='FORFEITED TO PLTF TAX CERT')].parcel)].vacant
sum(t), len(t)

(145, 463)

In [ ]:
sa.groupby('status').count()

In [ ]:
al = pd.read_csv(path+'/data/clean_data/armslength.csv',dtype=str)
al = al.drop_duplicates()

months = dict(zip(['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],range(1,13)))

def parse_date(x):
    day = int(x[0:2])
    month = months[x[2:5]]
    year = int(x[5:])
    return dt.datetime(year,month,day)

al['date'] = al.mdate.apply(parse_date)
# al = al[al.date < dt.datetime(2015,6,1)]

al = al.rename(columns={'PROPERTY_NUMBER':'parcel'})
al = al[['date','parcel']]
al['type'] = 'al'
al['plaintiff_count'] = 0

In [33]:
t = pd.read_csv(path+'/data/clean_data/transfers.csv', parse_dates=['mdate'], dtype=str)

# t = t[['PROPERTY_NUMBER','mdate']].rename(columns={'PROPERTY_NUMBER':'parcel','mdate':'date'})
# t['type'] = 't'
# t['REO'] = 0

In [42]:
d

(29638, 25)

In [45]:
temp = pd.merge(t, reo, how='left',left_on='GRANTEE1', right_index=True)

In [50]:
temp[(temp.DEED_TYPE.isin(['Sheriffs Deed',
 'Sheriffs Deed Ex'])) & (temp.finalgr1.isnull())]

,TRANSFER_TO_ID,WHS_ID,TRANSFER_HISTORY_ID,TRANSFER_ORDER,PARCEL_ID,PROPERTY_NUMBER,GRANTEE1,GRANTOR1,mdate,SALES_AMOUNT,...,GRANTOR_IS_MORTGAGEE,GRANTOR_IS_RELATIVE,TRADE,TRANSFER_TYPE_DESCR,SALES_SOURCE_DESCR,EXEMPTCODE_DESCR,TRANSFER_FROM_PARCEL,UPDATE_DATE,stdgr1,finalgr1
87,600392350,4282080,1750048626,7,102020,001-02-020,"RUSSELL, ROBERT",LISA BENNETT,2013-06-10,175000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
329,966105061,4292846,1995885836,15,107031,001-07-031,"CROCK REAL ESTATE INVESTMENTS III, LLC",R & B Properties LTd,2012-09-28,16667.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
416,2141904059,4295038,1099970808,3,107081,001-07-081,Certified Housing Solutions LLC,"Montgomery, Robert E.",2004-02-17,19300.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
432,581378823,4297212,344996951,6,107086,001-07-086,"DIOUISOPOULOS, NICK","Cardona, Marco A.",2003-09-10,59000.0,...,0.0,0.0,0.0,Change Ownership,Buyer,NaN,NaN,07NOV2014,NaN,NaN
489,1577492875,4299408,683803882,5,108048,001-08-048,"MTGLQ INVESTORS, L.P","Pigott, Roger",2008-01-14,30000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
541,349611494,4301557,848321985,7,108069,001-08-069,CUYAHOGA COUNTY LAND REUTILIZATION CORPORATION,"FRICKE, MICHAEL",2014-05-15,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,07NOV2014,NaN,NaN
549,512444070,4301560,510552324,9,108072,001-08-072,Bank One Nat'L Association,"Bond, Charles V.",2002-09-12,44000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
624,118140021,4303734,1480650244,7,108103,001-08-103,UBER AFFORDABLE HOMES LTD,"TURNER, MILLICENT K.",2013-05-15,15000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
684,356651321,4305904,1075700438,10,108134,001-08-134,VERTICAL MORTGAGE FUND I. LLC,SUPREME SYNDICATE LLC,2013-01-14,25000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
696,1632352795,4305911,1498975322,6,108141,001-08-141,CUYAHOGA COUNTY LAND REUTILIZATION CORPORATION,"ROBINSON, LISA A DAVIDSON",2014-11-18,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,21NOV2014,NaN,NaN
698,112446577,4305912,110555398,5,108142,001-08-142,"Feser, Thomas F.","Manning, Beverly",2002-05-08,44000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
719,1758960951,4305925,807547101,5,109001,001-09-001,DFT INVESTMENTS LLC,Kelly Marylin L. .,2012-05-24,9688.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
728,1759196280,4305934,2091516314,6,109010,001-09-010,CUYAHOGA COUNTY LAND REUTILIZATION CORPORATION,"Curry, Thomas J.",2014-06-02,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,07NOV2014,NaN,NaN
867,964837412,4286339,877423432,4,110030,001-10-030,HOUSING OPPORTUNITY PARTNERS REO LLC,"Sofianos, Spiros",2014-03-25,33334.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
947,612452783,4290695,510561162,6,111017,001-11-017,"Stamp, Shirley J.",Kates Gerald L,2001-05-30,60100.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
996,1465458645,4292877,999687223,5,112013,001-12-013,FREEDOM MORTGAGE CORPORATION,"Moltz, Douglas F.",2012-12-19,116540.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
1006,1821185788,4292883,1219978918,5,112019,001-12-019,"MARCONI, LAURA ANN & JANOS, ELYSSA CLARE","Pollock, Candace M",2013-07-16,42000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
1022,127380418,4295042,1037836568,3,112036,001-12-036,CUYAHOGA COUNTY LAND REUTILIZATION CORPORATION,Rhein Dennis,2014-06-18,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,Sale for delinq. taxes,NaN,07NOV2014,NaN,NaN
1080,733227211,4297264,1393545261,4,112087,001-12-087,"FORD, JOSH & MARIE","NOLL, PETER J",2013-08-14,63000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
1119,1883858976,4299440,1560442111,5,113038,001-13-038,Olympia Properties LLC,"Mino, Mary Ann",2003-04-18,76183.0,...,0.0,0.0,0.0,Change Ownership,Agent,NaN,NaN,07NOV2014,NaN,NaN
1120,445580458,4299440,968902272,6,113038,001-13-038,"PLYMOUTH PARK TAX SERVICES, LLC",Olympia Properties LLC,2009-11-17,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,Sale for delinq. taxes,NaN,07NOV2014,NaN,NaN
1204,2087201956,4301613,1279132262,8,113088,001-13-088,CUYAHOGA COUNTY LAND REUTILIZATON CORPORATION,"Musselman, David 1/2",2014-10-30,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,Security for debt/obligation,NaN,10NOV2014,NaN,NaN
1432,147996937,4299477,676589252,4,116023,001-16-023,"HALMOS, JOHN P.","SPENCER, LINDA D.",2012-05-24,20600.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
1488,1859185686,4301633,1969812392,8,116055,001-16-055,TRUCAP REO CORP,"Duale, Abdi Rashid",2012-01-12,38000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
1516,1750154416,4301653,1480381746,6,116075,001-16-075,DCJM LLC,"ANCHOR MANAGEMENT GROUP, INC.",2012-10-03,10000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
1550,11452177,4303821,2035232364,5,116099,001-16-099,"YARANO, JOAN C.","Schiros, Mary Jane",2003-12-10,105000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
1638,259505902,4308146,1571854172,12,116152,001-16-152,"IWENOFU, ANTHONY","Fedor, Michael E.",2008-06-16,87025.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
1724,1387558691,4280285,1569386302,5,118012,001-18-012,"GLAVIN, BERARD JR. & SUSAN","ARBOUR, JAMES W",2008-05-29,53334.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
1858,812481675,4284273,910593314,8,118106,001-18-106,Federal Nat'L Mort Assoc.,"Kent, Mark Charles",2002-01-03,60000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
1937,268117269,4290782,2036155607,5,119077,001-19-077,"CORTES, VICTORIA","Godfrey, Richard S",2005-03-08,70000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209670,624710890,4446369,1332807979,5,14321074,143-21-074,"VANZANT, JAMES","DUNCAN, ANNIE ETAL",2014-09-29,10000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
209861,374275052,4460090,1687547473,8,14402010,144-02-010,"SOVERIGN BANK, NA","COLLINS, RICHARD L.",2013-04-17,12000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
209864,1117082218,4460092,1224239614,5,14402012,144-02-012,PLYMOUTH PARK TAX SERVICES LLC,Clark Maudelle M,2011-03-04,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,Sale for delinq. taxes,NaN,07NOV2014,NaN,NaN
209882,1859029779,4460097,168416612,4,14402017,144-02-017,"BURTON, WILLIAM SR.","Cain, Wendy M.",2013-12-17,13000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
209883,513844209,4460098,811919202,5,14402018,144-02-018,Cresthaven Development,"Davis, Connie",2002-09-30,58700.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
209887,413844226,4460099,911919302,4,14402019,144-02-019,"Pebblebrook Properties, Inc.","Bennett, Bruce A.",2001-06-13,40900.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
209898,1625264652,4460104,478412028,6,14402024,144-02-024,"HAMBRICK, BEVERLY","Parker, Fatima A.",2014-06-26,9500.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
209914,895718470,4460112,473506475,11,14402032,144-02-032,"REO PROPERTY COMPANY, L.P.","CAL/OHIO OHIO INVESTMENTS, LLC",2010-10-06,32000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210058,2085068211,4430403,360815581,4,14403022,144-03-022,"STOVAL, DARRYL",Lewis Hakeem P,2006-11-08,80850.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210116,541046728,4432674,1797798409,4,14404015,144-04-015,SLW CAPITAL INC.,Ragland Deborah L,2006-12-11,50000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210138,315575263,4432685,1576813374,2,14404026,144-04-026,PLYMOUTH PARK TAX SERVICES LLC,Ladanyi Dezso J & Alice R,2010-01-20,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,Sale for delinq. taxes,NaN,07NOV2014,NaN,NaN
210220,1282485998,4437246,649748698,5,14404078,144-04-078,"DEUTSCHE BANK ,NTC","Palmer, Kevin M",2013-03-29,5334.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210244,178807333,4437254,153378585,7,14404087,144-04-087,"JOHNSON, BRYANT","Moore, Linda Joyce.",2006-10-11,82000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210260,513851742,4439528,311926019,4,14405011,144-05-011,"Rhodes, Gary K.","Kelley, Chistopher, P.",2002-05-06,70300.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210287,342366149,4439539,1923228713,9,14405022,144-05-022,JC GEMINI III,"Rodgers, Rosalyn & Rodgers, Diane",2014-06-03,129616.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210309,852096242,4441816,689883366,5,14405042,144-05-042,BOYD & MANLEY INVESTMENTS,"WAGGONER, FREDDIE E.",2009-05-29,24000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210322,509718385,4441830,1991616405,7,14405056,144-05-056,LAKE PROPERTIES LTD,Howard Gerald & Elizabeth,2009-12-31,33334.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210325,1705199933,4441832,49737469,3,14405058,144-05-058,LAKESIDE REO VENTURES LLC,"SEAY, LOUISE",2014-12-31,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,Less than $100,NaN,03JAN2015,NaN,NaN
210343,834220855,4441839,1517047171,5,14405065,144-05-065,CUYAHOGA COUNTY LAND REUTILIZATION CORPORATION,"Wilson, Ashley B",2014-08-12,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,07NOV2014,NaN,NaN
210367,1955607191,4444110,1499838363,10,14406013,144-06-013,"STOVALL, DARRYL","KIBLER, PAUL R.",2010-01-12,27000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210468,147613371,4446405,128353823,2,14406076,144-06-076,WASHINGTON SHENAVIA,Ann L Mcclellan,2003-09-26,60100.0,...,0.0,0.0,0.0,Change Ownership,Buyer,NaN,NaN,07NOV2014,NaN,NaN
210506,56181818,4448696,989109641,8,14406099,144-06-099,BAYVIEW LOAN SERVICING LLC,"CRANFIELD, JASON",2013-09-20,16667.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210519,644000320,4448706,780303234,4,14407002,144-07-002,"CRANFIELD, CHARLES","Smith, Vivienne L.",2005-11-18,71000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210553,1247897647,4451000,507325302,7,14407032,144-07-032,"SOUTHWEST CAPITAL INVESTMENTS, LLC","Maliti, Herbert B.",2008-10-22,83300.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210572,1140292635,4453290,1853137527,6,14409001,144-09-001,"LAKEVIEW PROPERTIES (OH), LLC (LAKEVIEW PROPER...","MAZOH, PATRICIA A. & MARGERY",2012-07-02,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,07NOV2014,NaN,NaN
210694,460374158,4455600,609356044,5,14414042,144-14-042,GENERATION MORTGAGE COMPANY,"JACOB, BARBARA R.",2012-08-30,53000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210792,2042701880,4571867,1933929095,11,43324063,433-24-063,"CHRISTOPHER, JACK E.","WALNUT DEVELOPMENT, LLC",2009-10-14,60000.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN
210814,407101205,4708656,1912715278,6,67214132,672-14-132,"SMITH, CATHERINE","Cleveland, Alex",2003-10-28,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,Sale for delinq. taxes,NaN,07NOV2014,NaN,NaN
210819,21590449,4708656,1358814988,11,67214132,672-14-132,CITY OF EAST CLEVELAND LAND REUTILIZATION PROGRAM,"HERNANDEZ, BERNARDINO JUAN",2012-11-27,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,07NOV2014,NaN,NaN
210833,147197142,4697675,1818225466,5,67316025,673-16-025,PLYMOUTH PARK TAX SERVICE LLC,Stephens General C & Levolia,2008-04-25,0.0,...,0.0,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,NaN,NaN

In [102]:
fc2 = fc[['date','parcel']]
fc2['type'] = 'fc'
fc2['REO'] = 0

//anaconda/envs/vacancy/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
//anaconda/envs/vacancy/lib/python3.4/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [103]:
sa2 = sa[['date','REO','parcel','sold_amt']]
sa2['type'] = 'sa'

//anaconda/envs/vacancy/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [9]:
max(fc.date), max(sa.date), max(t.date)

(Timestamp('2015-11-06 00:00:00'),
 Timestamp('2015-12-07 00:00:00'),
 Timestamp('2015-03-18 00:00:00'))

In [51]:
df = fc2.append(sa2.loc[sa2.sold_amt.notnull(),['date','REO','parcel','type']]).append(t)
df = df.sort_values('date')
df = df.loc[df.apply(lambda x: x.date < dates[x.parcel], axis=1)]

NameError: name 'fc2' is not defined

In [105]:
last = df.groupby('parcel').last()
sub = last[(last['type'] == 'sa')]#&(last['plaintiff_count']>-1)]

In [116]:
t = tci[tci.parcel.isin(sa[sa.REO].parcel)].vacant
sum(t),len(t)

(3617, 20438)

In [106]:
test = set(last[(last['type'] == 'sa') & (last['REO']==True)].index)
sum(tci[tci.parcel.isin(test)].vacant), len(tci[tci.parcel.isin(test)].vacant)

(350, 907)

In [61]:
test = set(sub.index)
sum(tci[tci.parcel.isin(test)].vacant), len(tci[tci.parcel.isin(test)].vacant)

(400, 1074)

In [122]:
tci[tci.parcel=='132-01-031']

,PIN,Date,USE_CLASS,USE_DESC,LUC,LUC_Description,Generalized Land Use,Ward,Label,SPA_NAME_x,...,Notes,Image,vacant,parcel,v_total_1yr,v_total_2yr,c_ovv_2yr,c_ovv_1yr,NAME10,SPA_NAME_y
91231,13201031,2015-09-21 14:37:00,R,RESIDENTIAL,5100,1-FAMILY PLATTED LOT,Residential,12,12J,Broadway-Slavic Village,...,NaN,https://wdwot.s3.amazonaws.com/blextoid/56004e...,0,132-01-031,0,0,0,0,1152,Broadway-Slavic Village

In [121]:
fc[fc.parcel=='132-01-031']

,caseno,parcel,status,date,defendant,parcel_address,dateid,case_title,plaintiff,FORE,LATITUDE,LONGITUDE,zip_fore
22386,CV-10-720212,132-01-031,Inactive,2010-03-04,"LAURA E. STEWART, ET AL",6215 KENYON AVENUE,11/06/2015,NaN,.,1,41.461606,-81.646362,44105
30661,CV-12-783415,132-01-031,Inactive,2012-05-24,"LAURA E. STEWART, ET AL",6215 KENYON AVENUE,11/06/2015,NaN,.,1,41.461606,-81.646362,44105
39003,CV-15-841186,132-01-031,Inactive,2015-02-27,"LAURA E. STEWART, ET AL",6215 KENYON AVENUE,11/06/2015,NaN,.,1,41.461606,-81.646362,44105

In [119]:
df[df.parcel=='132-01-031']

        REO       date      parcel type
32758     1 2004-01-05  132-01-031   sa
169227    0 2004-05-04  132-01-031    t
169228    0 2006-02-28  132-01-031    t
22386     0 2010-03-04  132-01-031   fc
30661     0 2012-05-24  132-01-031   fc
39003     0 2015-02-27  132-01-031   fc
32759     1 2015-09-21  132-01-031   sa

In [97]:
import re


def find_REO(s):
    if isinstance(s,str):
        s = s.lower()
        if re.search("llc", s):
            return True
        if re.search("bank", s):
            return True
        if re.search("mortg", s):
            return True
        if re.search("mort.", s):
            return True
        if re.search("comp", s):
            return True
        if re.search("corp", s):
            return True
        if re.search("fannie", s):
            return True
        if re.search("housing", s):
            return True
        if re.search("sec.", s):
            return True
        if re.search("loan", s):
            return True
        return False
    else:
        return False

In [90]:
sa.groupby('purchaser').count().sort_values('date',ascending=False)

,parcel,address,date,saleno,sold_amt,appraisal,minbid,scaseno,withdrawn,plaintiff,...,descript,location,defend_att,with,status,ssold,SHF,LATITUDE,LONGITUDE,purchaser_count
purchaser,,,,,,,,,,,,,,,,,,,,,
N/a,2419,2419,2419,2419,2,2418,2417,2419,2419,2419,...,2410,2419,2419,2419,0,2419,2419,2418,2418,2419
FEDERAL NATIONAL MORTGAGE ASSOCIATION,1601,1601,1601,1601,1600,1478,1478,1601,531,1601,...,1598,951,530,531,420,1601,1601,1601,1601,1601
FEDERAL HOME LOAN MORTGAGE CORPORATION,902,902,902,902,902,820,820,902,328,902,...,897,516,327,328,188,902,902,900,900,902
SECRETARY OF HOUSING AND URBAN DEVELOPMENT,447,446,447,447,447,196,196,447,2,447,...,443,3,0,2,0,447,447,447,447,447
THIRD FEDERAL SAVINGS AND LOAN ASSOCIATION OF CLEVELAND,400,400,400,400,400,340,340,400,92,400,...,399,191,91,92,99,400,400,400,400,400
"FANNIE MAE, AKA, FEDERAL NATIONAL MORTGAGE ASSOCIATION, ITS SUCCESSORS AND ASSIGNS",287,287,287,287,286,287,287,287,184,287,...,287,265,184,184,81,287,287,287,287,287
"CITIMORTGAGE, INC.",193,193,193,193,193,188,188,193,55,193,...,193,100,55,55,45,193,193,193,193,193
"WELLS FARGO BANK, NA",189,189,189,189,189,185,185,189,70,189,...,188,142,70,70,72,189,189,189,189,189
FANNIE MAE AKA FEDERAL NATIONAL MORTGAGE ASSOCIATION,186,186,186,186,186,138,138,186,1,186,...,185,0,0,1,0,186,186,186,186,186
"WELLS FARGO BANK, N.A.",186,186,186,186,186,152,152,186,13,186,...,185,43,13,13,30,186,186,186,186,186
"FANNIEMAE, AKA, FEDERAL NATIONAL MORTGAGE ASSOCIATION",163,163,163,163,163,90,90,163,2,163,...,163,2,2,2,0,163,163,163,163,163
U.S. BANK NATIONAL ASSOCIATION,157,157,157,157,157,155,155,157,78,157,...,155,149,77,78,72,157,157,156,156,157
KEYBANK NATIONAL ASSOCIATION,154,154,154,154,154,112,112,154,9,154,...,154,48,9,9,39,154,154,154,154,154
THIRD FEDERAL SAVINGS & LOAN ASSOCIATION OF CLEVELAND,152,152,152,152,152,152,152,152,88,152,...,151,105,88,88,17,152,152,152,152,152
HOUSEHOLD REALTY CORPORATION,148,148,148,148,148,71,71,148,17,148,...,147,21,15,17,6,148,148,148,148,148
"BANK OF AMERICA, N.A.",130,130,130,130,130,130,130,130,42,130,...,130,120,42,42,78,130,130,130,130,130
THE HUNTINGTON NATIONAL BANK,117,117,117,117,117,108,108,117,32,117,...,117,63,32,32,31,117,117,117,117,117
MIDFIRST BANK,113,113,113,113,113,113,113,113,42,113,...,113,72,42,42,30,113,113,113,113,113
"U.S. BANK, N.A.",113,113,113,113,112,101,101,113,15,113,...,113,16,15,15,1,113,113,113,113,113
"FANNIEMAE, AKA, FEDERAL NATIONAL MORTGAGE ASSOCIATION, ITS SUCCESSORS AND ASSIGNS",112,112,112,112,112,111,111,112,0,112,...,111,0,0,0,0,112,112,112,112,112
NATIONAL CITY BANK,105,105,105,105,105,50,50,105,1,105,...,105,0,0,1,0,105,105,105,105,105
"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",104,104,104,104,104,104,104,104,39,104,...,104,93,39,39,54,104,104,104,104,104
"LAKESIDE REO VENTURES, LLC",102,102,102,102,102,102,102,102,0,102,...,102,102,0,0,102,102,102,102,102,102
NEW YORK COMMUNITY BANK,100,100,100,100,100,100,100,100,44,100,...,100,100,44,44,56,100,100,100,100,100
"AURORA LOAN SERVICES, LLC",100,100,100,100,100,90,90,100,13,100,...,99,13,13,13,0,100,100,100,100,100
FIFTH THIRD MORTGAGE COMPANY,90,90,90,90,90,61,61,90,9,90,...,89,30,9,9,20,90,90,90,90,90
CUYAHOGA COUNTY LAND REUTILIZATION CORPORATION,88,88,88,88,88,88,88,88,0,88,...,88,88,0,0,88,88,88,88,88,88
FANNIE MAE,88,88,88,88,88,88,88,88,32,88,...,87,33,32,32,1,88,88,88,88,88
FANNIE MAE A.K.A. FEDERAL NATIONAL MORTGAGE ASSOCIATION,78,78,78,78,78,59,59,78,0,78,...,78,0,0,0,0,78,78,78,78,78
"GMAC MORTGAGE, LLC",71,71,71,71,70,61,61,71,15,71,...,70,16,15,15,1,71,71,71,71,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"FEDERAL NATIONAL MORTGAGE ASSOCIATION, WENDOVER FINANCIAL SERVICES, 725 N. REGIONAL ROAD GREENSBORO, NC 27419",1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION,, ONE SOUTH WACKER DRIVE, CHICAGO, IL 60606",1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION. ONE SOUTH WACKER DRIVE, CHICAGO, IL 60606",1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSSOCIATION,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION, 1 SOUTH WACKER DRIVE, SUITE 3100 CHICAGO, IL 60606-4667",1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSOCIATION ONE SOUTH WAKER DRIVE CHICAGO IL. 60606,1,1,1,1,1,0,0,1,0,1,...,1,0,0,0,0,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSOCIATION (*FANNIE MAE*) A CORPORATION ORGANIZED AND EXISTING UNDER THE,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,1,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION ONE SOUTH WACKER DRIVE, SUITE #3100 CHICAGO ILLINOIS 60606",1,1,1,1,1,0,0,1,0,1,...,1,1,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION (*FANNIE MAE*), A CORPORATIOIN ORGANIZED AND EXISTING UNDER TH",1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,1,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION (*FANNIE MAE*), A CORPORATION ORGANIZED AND EXISTING UNDER TH",1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,1,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSOCIATION 1 SOUTH WACKER DR SUITE 3100 CHICAGO IL 60606,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSOCIATION 1 SOUTH WACKER DRIVE SUITE 3100 CHICAGO IL 60606,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION 1 SOUTH WACKER DRIVE SUITE 3100 CHICAGO, IL 60606",1,1,1,1,1,0,0,1,0,1,...,1,1,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION 1 SOUTH WACKER DRIVE, #1400 CHICAGO ILLINOIS 60606-4667",1,1,1,1,1,0,0,1,0,1,...,1,0,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION 1 SOUTH WACKER DRIVE, SUITE 1300, CHICAGO, IL 60606",1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION 1 SOUTH WACKER DRIVE, SUITE 3100, CHICAGO, IL 606006",1,1,1,1,1,0,0,1,0,1,...,1,0,0,0,0,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSOCIATION 1 SOUTH WACKERS DRIVE SUITE 3100 CHICAGO IL 60606,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION 11200 WEST PARKLAND AVENUE, MILWAUKEE, WI 53201",1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSOCIATION 353 SACRAMENTO ST SUITE 420 SAN FRANCISCO CA 94111,1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION 3900 WISCONSIN AVE WASHINGTON DC, 20016",1,1,1,1,1,0,0,1,0,1,...,1,1,0,0,0,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSOCIATION 3900 WISCONSIN AVE. WASHINGTON D.C. 20016,1,1,1,1,1,0,0,1,0,1,...,1,1,0,0,0,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSOCIATION 3900 WISCONSIN AVENUE NW WASHINGTON DC 20016,1,1,1,1,1,0,0,1,0,1,...,1,0,0,0,0,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSOCIATION 3900 WISCONSIN AVENUE WASHINGTON DC 20016,1,1,1,1,1,0,0,1,0,1,...,1,0,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION 3900 WISCONSIN AVENUE WASHINGTON, D.C. 20016",1,1,1,1,1,0,0,1,0,1,...,1,0,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION 3900 WISCONSIN AVENUE WASHINGTON, DC 20016",1,1,1,1,1,0,0,1,0,1,...,1,0,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION AKA FANNIE MAE, ORGANIZED AND EXISTING UNDER THE LAWS OF THE UNITED STATES OF AMERICA",1,1,1,1,1,1,1,1,0,1,...,1,0,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION C/O FINANCIAL FREEDOM SENIOR FUNDING CORPORATION, 353 SACRAMENTO STREET, SUITE 900 SAN FRANCISCO, CA 94111-3603",1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
"FEDERAL NATIONAL MORTGAGE ASSOCIATION GMAC MORTGAGE CORP., 500 ENTERPRISE RD., HORSHAM, PA 19044",1,1,1,1,1,1,1,1,0,1,...,1,1,0,0,0,1,1,1,1,1
FEDERAL NATIONAL MORTGAGE ASSOCIATION ONE SOUTH WACKER DRIVE CHICAGO IL 44087,1,1,1,1,1,0,0,1,0,1,...,1,1,0,0,0,1,1,1,1,1
secy of hudSECY OF HUD 1350 EUCLID AVE CLEVELAND OH 44115,1,1,1,1,1,1,1,1,0,1,...,0,1,0,0,0,1,1,1,1,1

In [100]:
sa['REO'] = sa.purchaser.apply(find_REO)

In [110]:
len(sa[sa.purchaser.notnull()])-sum(sa.REO)

6662

In [108]:
sum(sa.REO)

22976

In [12]:
spas_sa = tci[tci.parcel.isin(test)][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])
spas_sa['percent'] = spas_sa.vacant['sum']*1.0/spas_sa.vacant['len']
print(spas_sa.sort_values('percent'))

                        vacant        percent
                           sum  len
SPA_NAME
University                   1   11  0.090909
Edgewater                    1    9  0.111111
Tremont                      4   24  0.166667
Jefferson                   25  143  0.174825
Clark-Fulton                10   55  0.181818
Detroit Shoreway            11   60  0.183333
Kamm's                      20   95  0.210526
Ohio City                    5   23  0.217391
Stockyards                  14   61  0.229508
Old Brooklyn                44  191  0.230366
Lee-Harvard                 36  149  0.241611
North Shore Collinwood      40  157  0.254777
West Boulevard              36  136  0.264706
Central                      9   33  0.272727
Bellaire-Puritas            31  109  0.284404
Euclid-Green                23   78  0.294872
Fairfax                     18   59  0.305085
Goodrich-Kirtland Pk         4   13  0.307692
Lee-Seville                 29   94  0.308511
Cudell                      19   53  0.358491
Collinwood-Nottingham       57  156  0.365385
Brooklyn Centre             23   62  0.370968
Buckeye-Shaker Square       38   97  0.391753
Mount Pleasant             114  266  0.428571
Union-Miles                148  344  0.430233
Hough                       41   94  0.436170
Buckeye-Woodhill            29   64  0.453125
Glenville                  165  356  0.463483
Broadway-Slavic Village    153  328  0.466463
Kinsman                     41   86  0.476744
St.Clair-Superior           53  101  0.524752

In [11]:
for i in spas_sa.index:
    a = sa[sa.parcel.isin(test.intersection(tci[tci.SPA_NAME==i].parcel))]
    spas_sa.loc[spas_sa.index==i,'median_sa'] = a.sort_values('date')['date'].iloc[round(len(a)/2)]
#     print(i,a.sort_values('date')['date'].iloc[round(len(a)/2)])
#     print(np.median(sa[sa.parcel.isin(test.intersection(tci[tci.SPA_NAME==i].parcel))].date))

NameError: name 'spas_sa' is not defined

In [ ]:
spas_sa

In [ ]:
tci[tci.parcel.isin(set(fc.parcel))][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])

In [ ]:
len(tci.loc[tci.vacant==1,'parcel'][tci.loc[tci.vacant==1,'parcel'].isin(set(sa.parcel))])

In [ ]:
sum(tci['vacant']), len(tci)

In [ ]:
sum(tci[tci.parcel.isin(sub)].vacant), len(tci[tci.parcel.isin(sub)].vacant)

In [ ]:
last = df.groupby('parcel').last()
sub = set(last[last['type'] == 'sa'].index)

In [ ]:
second_last = df.groupby('parcel').nth(-2)
sub2 = set(second_last[second_last['type']=='fc'].index)

In [ ]:
len(sub.intersection(sub2)), len(sub), len(sub2)

In [ ]:
fc_to_sa = sub.intersection(sub2)

In [ ]:
sum(tci[tci.parcel.isin(fc_to_sa)].vacant), len(tci[tci.parcel.isin(fc_to_sa)].vacant)

In [ ]:
df[df.parcel=='137-25-057']

In [ ]:
a = second_last[second_last.index.isin(sub)]

In [ ]:
pitt_vacant = set(second_last[second_last.index.isin(sub)].index)

In [ ]:
sum(tci[tci.parcel.isin(set(a.index))].vacant), len(tci[tci.parcel.isin(set(a.index))].vacant)

In [ ]:
sum(tci[(tci.parcel.isin(pitt_vacant))&(tci.parcel.isin(pitt))].vacant), len(tci[tci.parcel.isin(pitt_vacant)].vacant)

In [ ]:
sum(tci.vacant)

In [ ]:
1334.0/ 3892

In [ ]:
temp = df[df.parcel.isin(pitt_vacant)].groupby('parcel').agg(lambda x: (x.date.iloc[-1]-x.date.iloc[-2]).days)

In [ ]:
np.median(temp.date)

In [ ]:
sns.distplot(temp.date);

In [ ]:
pv = pd.read_csv(path+'/data/clean_data/postal_vacancy.csv', parse_dates=3, index_col=0)
pv.date = pv.date.apply(lambda x: dt.datetime(int(x[0:4]),int(x[5:7]),int(x[8:10])))
pv = pv.sort_values('date',ascending=False)
pv = pv.loc[pv.apply(lambda x: x.date < dates[x.PARCEL], axis=1)]

In [ ]:
pv = pv[pv.vindall=='Y']
pv_copy = pv.copy().groupby('PARCEL').count().reset_index()

pv_copy['pv_count'] = pv_copy.apply(lambda x: \
        len(pv[(pv.PARCEL == x.PARCEL) & (pv.date > dates[x.PARCEL]-pd.DateOffset(years=2))]), axis=1)

In [ ]:
pv2 = pv.groupby('PARCEL').last()

In [ ]:
tci[tci.parcel.isin(pv2[pv2.vindall=='Y'].index)].groupby('vacant').count()

In [ ]:
sns.distplot(df2[df2.vacant==1].date,bins=np.linspace(0,30,30));
sns.distplot(df2[df2.vacant==0].date,bins=np.linspace(0,30,30));

In [ ]:
df2 = pd.merge(df.groupby('parcel').last(), tci[['vacant','ppn']], how='left',left_index=True, right_on='ppn')

In [ ]:
df2[['type','vacant']].groupby('type').agg([sum,len])

In [ ]:
d = df2[df2['type']=='fc']
d['year'] = d.date.apply(lambda x: x.year)

In [ ]:
d[['year','vacant']].groupby('year').agg([sum,len])

In [ ]:
plt.plot(fc.set_index('date').groupby(['type']).resample('m', 'count'))

In [ ]:
t = tci[tci.ppn.isin(fc[fc.date > dt.datetime(2015,3,1)].parcel)].vacant

In [ ]:
sum(t),len(t)

In [ ]:
fc['year'] = fc['date']