# Analysis of vacancy and foreclosures, transactions, sheriff's auctions, and armslength sales

In [16]:
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import pandas as pd
import numpy as np
import os

%matplotlib inline

path = '/'.join(os.getcwd().split('/')[:-1])
print(path)

/Volumes/Dropbox/largetransfer/luc/carter

In [46]:
tci = pd.read_csv(path+'/data/model_data/tci_1_0.csv', index_col = 0,parse_dates=['Date'])
tci = tci[['parcel','vacant','SPA_NAME','Date']]
# tci = pd.read_csv(path+'/data/model_data/tci_2_2.csv', parse_dates=['Date'], dtype={'Parcel ID':str})
# tci = pd.merge(tci, df[['NAME10','SPA_NAME']], how='left', right_index=True, left_on='parcel')
ppns = set(tci['parcel'])
dates = dict(zip(tci.parcel, tci.Date))
print(tci.shape)

(113132, 4)

## Foreclosures

In [18]:
fc = pd.read_csv(path+'/data/clean_data/foreclosure_filings2.csv', parse_dates=[2])
fc = fc.sort_values('filedate').groupby('caseno').last()
fc = fc.rename(columns={'filedate':'date'}).reset_index()

fc.columns

Index([u'caseno', u'parcel', u'status', u'date', u'defendant',
       u'parcel_address', u'dateid', u'case_title', u'plaintiff', u'FORE',
       u'LATITUDE', u'LONGITUDE', u'zip_fore'],
      dtype='object')

In [19]:
fc_parcel = set(fc.parcel)
tci['fc'] = tci.apply(lambda x: x.parcel in fc_parcel, axis=1)
pd.crosstab(tci.fc, tci.vacant)

vacant      0     1
fc
False   79154  3836
True    23940  6202

In [20]:
sum(tci.vacant), sum(tci.fc)

(10038, 30142)

#### Has it been foreclosed before?

So of the 30,142 parcels that have been foreclosed between 1/3/2006 and 11/6/2015, 6,202 are currently vacant, of the 10,038 total residential vacancies as measured by TCI. This means that 3,836 parcels were determined to be vacancy but never have been foreclosed.

In [21]:
fc_parcel = set(fc[fc.status=='Inactive'].parcel)
tci['fc'] = tci.apply(lambda x: x.parcel in fc_parcel, axis=1)
pd.crosstab(tci.fc, tci.vacant)

vacant      0     1
fc
False   79967  4135
True    23127  5903

In [22]:
fc_parcel = set(fc[fc.status=='Active'].parcel)
tci['fc'] = tci.apply(lambda x: x.parcel in fc_parcel, axis=1)
pd.crosstab(tci.fc, tci.vacant)

vacant       0     1
fc
False   101689  9455
True      1405   583

In [23]:
tem = pd.merge(fc[['parcel','status']].groupby('parcel').count(), tci[['parcel','vacant']], how='right', left_index=True, right_on='parcel').fillna(0)
tem = tem[['status','vacant']].groupby('status').agg([sum,len])
tem['percent'] = tem.vacant['sum']/tem.vacant['len']
tem.T

status                  0             1            2            3           4  \
vacant  sum   3836.000000   4193.000000  1579.000000   330.000000   81.000000
        len  82990.000000  22045.000000  6255.000000  1422.000000  326.000000
percent          0.046222      0.190202     0.252438     0.232068    0.248466

status               5          6      7
vacant  sum  14.000000   4.000000  1.000
        len  71.000000  15.000000  8.000
percent       0.197183   0.266667  0.125

## Sheriff's Auctions

In [24]:
sa = pd.read_csv(path+'/data/clean_data/sheriff_auction.csv', parse_dates=[2])#, encoding="ISO-8859-1")

In [25]:
reo = pd.read_csv(path+'/data/extra_data/reo.csv', encoding="utf-8")
reo = reo.groupby('GRANTEE1').last()

In [26]:
purchaser = sa.groupby('scaseno').last()
purchaser = purchaser.groupby('purchaser').count().sort_values('parcel',ascending=False)[['parcel']]

In [27]:
# purchaser = sa.groupby('scaseno').last().groupby('purchaser').count().sort_values('parcel',ascending=False)[['parcel']]
purchaser = purchaser.rename(columns={'parcel':'purchaser_count'})
sa = pd.merge(sa, purchaser, how='left', left_on='purchaser',right_index=True)
# sa = sa.sort_values('salesdt').groupby('parcel').last()
sa = sa.rename(columns={'salesdt':'date'})
# sa = sa[['date','plaintiff_count']]
# sa['type'] = 'sa'
# sa = sa.reset_index()
sa['purchaser_count'] = sa['purchaser_count'].fillna(0)
sa.columns

Index([u'parcel', u'address', u'date', u'saleno', u'sold_amt', u'appraisal',
       u'minbid', u'scaseno', u'withdrawn', u'plaintiff', u'sdefend',
       u'purchaser', u'paddress', u'rparty', u'raddress', u'attorney',
       u'descript', u'location', u'defend_att', u'with', u'status', u'ssold',
       u'SHF', u'LATITUDE', u'LONGITUDE', u'purchaser_count'],
      dtype='object')

In [ ]:
# al = pd.read_csv(path+'/data/clean_data/armslength.csv',dtype=str)
# al = al.drop_duplicates()

# months = dict(zip(['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],range(1,13)))

# def parse_date(x):
#     day = int(x[0:2])
#     month = months[x[2:5]]
#     year = int(x[5:])
#     return dt.datetime(year,month,day)

# al['date'] = al.mdate.apply(parse_date)
# # al = al[al.date < dt.datetime(2015,6,1)]

# al = al.rename(columns={'PROPERTY_NUMBER':'parcel'})
# al = al[['date','parcel']]
# al['type'] = 'al'
# al['plaintiff_count'] = 0

In [ ]:
# t2 = pd.read_csv(path+'/data/clean_data/transfers.csv', parse_dates=['mdate'], dtype=str)

In [79]:
t = pd.read_csv(path+'/data/clean_data/transfers.csv', parse_dates=['mdate'], dtype=str)

t = t.rename(columns={'PROPERTY_NUMBER':'parcel','mdate':'date'})
t['type'] = 't'
t['REO'] = 0

In [29]:
t = pd.merge(t, reo, how='left',left_on='GRANTEE1', right_index=True)

In [87]:
t.loc[(t.DEED_TYPE.isin(['Sheriffs Deed',
 'Sheriffs Deed Ex'])),'shf'] = 1

In [31]:
reo

,stdgr1,finalgr1
GRANTEE1,,
#NAME?,CENTEX HOME EQUITY CORP,FINANCIAL INSTITUTION
AAMES CAPITAL CORP,AAMES CAPITAL CORP,FINANCIAL INSTITUTION
AAMES CAPITAL CORP. & AAMES FUNDING CORPORATION,AAMES CAPITAL CORP,FINANCIAL INSTITUTION
AAMES CAPITAL CORPORATION,AAMES CAPITAL CORP,FINANCIAL INSTITUTION
AAMES FINANCIAL CORPORATION,AAMES CAPITAL CORP,FINANCIAL INSTITUTION
AAMES FUNDING CORPORATION,AAMES CAPITAL CORP,FINANCIAL INSTITUTION
AAMES FUNDING CORPORATION DBA AAMES HOME LOAN,AAMES CAPITAL CORP,FINANCIAL INSTITUTION
"AAMES FUNDING CORPORATION, DBA AAMES HOME LOAN",AAMES CAPITAL CORP,FINANCIAL INSTITUTION
AAMES HOME LOAN,AAMES CAPITAL CORP,FINANCIAL INSTITUTION
ABM AMRO MORTGAGE GROUP,ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO MORTGAGE GROUP INC.,ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO MORTGAGE GROUP,ABN AMRO BANK,NONLOCAL BANKS
"ABN AMRO MORTGAGE GROUP, INC.",ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO MORTGAGE INC,ABN AMRO BANK,NONLOCAL BANKS
"ABN AMBRO Mortgage Group, Inc.",ABN AMRO BANK,NONLOCAL BANKS
"ABN AMR MORTGAGE GROUP, INC.",ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO,ABN AMRO BANK,NONLOCAL BANKS
"ABN AMRO MORTGAGE GROUP, INC.",ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO BANK,ABN AMRO BANK,NONLOCAL BANKS
"ABN AMRO MARTGAGE GROUP, INC",ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO MORT GROUP INC,ABN AMRO BANK,NONLOCAL BANKS
"ABN AMRO MORTGAGE CORPORATION, INC.",ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO MORTGAGE GROUP,ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO MORTGAGE GROUP INC.,ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO MORTGAGE GROUP INC,ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO MORTGAGE GROUP INC.,ABN AMRO BANK,NONLOCAL BANKS
"ABN AMRO MORTGAGE GROUP, INC",ABN AMRO BANK,NONLOCAL BANKS
"ABN AMRO MORTGAGE GROUP, INC.",ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO Mortgage,ABN AMRO BANK,NONLOCAL BANKS
ABN AMRO Mortgage Group,ABN AMRO BANK,NONLOCAL BANKS
...,...,...
"Wells Fargo Minesota, Na",WELLS FARGO,NONLOCAL BANKS
Wells Fargo Minnesota National Association,WELLS FARGO,NONLOCAL BANKS
"Wells Fargo Minnesota, as Trustee",WELLS FARGO,NONLOCAL BANKS
Wells Fargo Natioanl Bank Minnesota -Tr.,WELLS FARGO,NONLOCAL BANKS
Wells Fargo bank,WELLS FARGO,NONLOCAL BANKS
"Wells fargo Bank Minnesota, NA, Trustee",WELLS FARGO,NONLOCAL BANKS
"Wells fargo Minnesota, as Trustee",WELLS FARGO,NONLOCAL BANKS
Wells fargo Trustee,WELLS FARGO,NONLOCAL BANKS
Wells fargo bank Minn trustee,WELLS FARGO,NONLOCAL BANKS
Wels Fargo Bank Minnesota,WELLS FARGO,NONLOCAL BANKS
Wilimington Trs Co,WILMINGTON TRUST,NONLOCAL BANKS
Willimington Trs Co,WILMINGTON TRUST,NONLOCAL BANKS
Wilmington Trs Co Trs,WILMINGTON TRUST,NONLOCAL BANKS
"Wm Specialty Mort Llc,","WM SPECIALTY MORTGAGE, LLC ETC",FINANCIAL INSTITUTION
Wm Specialty Mortgage LLC,"WM SPECIALTY MORTGAGE, LLC ETC",FINANCIAL INSTITUTION
Wm Specialty Mtg Llc,"WM SPECIALTY MORTGAGE, LLC ETC",FINANCIAL INSTITUTION
Wmc Mort Corp,WMC MORTGAGE CORP,FINANCIAL INSTITUTION
Wmc Mort Corp.,WMC MORTGAGE CORP,FINANCIAL INSTITUTION
Wmc Mortgage Corp,WMC MORTGAGE CORP,FINANCIAL INSTITUTION
World Savings Bank FSB,WORLD SAVINGS BANK,NONLOCAL BANKS
"World Savings Bank, FSB",WORLD SAVINGS BANK,NONLOCAL BANKS
\H.U.D,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
keybank National Assoc.,KEY BANK NATIONAL ASSCOIATION,LOCAL BANKS
mANUFACTUREERS & TRADERS TRUST,M & T BANK,NONLOCAL BANKS
national City Bank,NATIONAL CITY BANK,LOCAL BANKS
sec of h.u.d.,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
sec of housing & urban dev.,DEPARTMENT OF HOUSING AND URBAN DEV,GSE
the Bank of NewYork,"THE BANK OF NEW YORK, TRUST",NONLOCAL BANKS
us Bank National,U S BANK,LOCAL BANKS
wm Specialty Mortgage llc,"WM SPECIALTY MORTGAGE, LLC ETC",FINANCIAL INSTITUTION

In [ ]:
temp = tci[tci.parcel.isin(t[(t.REO==1)&(t.date > dt.datetime(2013,1,1))].parcel)]
sum(temp.vacant), len(temp)

In [32]:
fc2 = fc[['date','parcel']]
fc2['type'] = 'fc'
fc2['REO'] = 0

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [33]:
sa2 = sa[['date','parcel','sold_amt']]
sa2['REO'] = 0
sa2['type'] = 'sa'

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [95]:
df = fc2.append(sa2.loc[sa2.sold_amt.notnull(),['date','REO','parcel','type']]).append(t[['date','parcel','type','REO','DEED_TYPE','GRANTEE1']])
df = df.sort_values('date')
df = df.loc[df.apply(lambda x: x.date < dates[x.parcel], axis=1)]

In [100]:
last = df.groupby('parcel').last()
sub = last[(last['type'] == 't') & (last['DEED_TYPE'].isin(['Sheriffs Deed',
 'Sheriffs Deed Ex'])) & (last['REO'])]#&(last['plaintiff_count']>-1)]

In [101]:
test = set(sub.index)
sum(tci[tci.parcel.isin(test)].vacant), len(tci[tci.parcel.isin(test)].vacant)

(546, 1203)

In [107]:
tci.loc[tci.parcel.isin(test),['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])

                        vacant
                           sum  len
SPA_NAME
Bellaire-Puritas            17   46
Broadway-Slavic Village     43   73
Brooklyn Centre             11   27
Buckeye-Shaker Square       18   43
Buckeye-Woodhill            10   18
Central                      4   10
Clark-Fulton                 6   22
Collinwood-Nottingham       28   58
Cudell                      16   32
Detroit Shoreway             7   23
Edgewater                    2    7
Euclid-Green                 7   19
Fairfax                      8   14
Glenville                   65   95
Goodrich-Kirtland Pk         6    8
Hough                        7   18
Jefferson                   28   68
Kamm's                      20   53
Kinsman                     12   20
Lee-Harvard                 26   63
Lee-Seville                  8   23
Mount Pleasant              44   84
North Shore Collinwood      24   55
Ohio City                    3    8
Old Brooklyn                36  102
St.Clair-Superior            6   13
Stockyards                  14   31
Tremont                      2    9
Union-Miles                 37   86
University                   1    3
West Boulevard              30   72

In [66]:
import re

def find_REO(s):
    if isinstance(s,str) or isinstance(s,unicode):
        s = s.lower()
        if re.search("llc", s):
            return True
        if re.search("bank", s):
            return True
        if re.search("mortg", s):
            return True
        if re.search("mort.", s):
            return True
        if re.search("comp", s):
            return True
        if re.search("corp", s):
            return True
        if re.search("fannie", s):
            return True
        if re.search("housing", s):
            return True
        if re.search("sec.", s):
            return True
        if re.search("loan", s):
            return True
        return False
    else:
        return False

In [70]:
sum(sa['REO'])

22976

In [5]:
sa.groupby('purchaser').count().sort_values('date',ascending=False)

NameError: name 'sa' is not defined

In [68]:
sa['REO'] = sa.purchaser.apply(find_REO)

In [88]:
t['REO'] = t.GRANTEE1.apply(find_REO)

In [91]:
t[(t.shf==1)&t.REO]

,TRANSFER_TO_ID,WHS_ID,TRANSFER_HISTORY_ID,TRANSFER_ORDER,PARCEL_ID,parcel,GRANTEE1,GRANTOR1,date,SALES_AMOUNT,...,GRANTOR_IS_RELATIVE,TRADE,TRANSFER_TYPE_DESCR,SALES_SOURCE_DESCR,EXEMPTCODE_DESCR,TRANSFER_FROM_PARCEL,UPDATE_DATE,type,REO,shf
102,591491638,4282084,676448184,4,102024,001-02-024,BANK OF AMERICA NA,"Waszak,Helena V",2014-09-24,228000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
157,1687613006,4286307,972164435,15,104007,001-04-007,JPMORGAN CHASE BANK NATIONAL ASSOCIATION,"Sikora, Peter",2014-04-11,910000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
169,2040389458,4286316,871525777,11,104016,001-04-016,"GMAC MORTGAGE, LLC","lange, gerald d.",2009-09-16,290000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
230,849225706,4288480,838247536,3,105025,001-05-025,THE BANK OF NEW YORK MELLON,"Lebovitz, Sanford",2013-02-26,150000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
270,1831971867,4290658,814858079,8,106025,001-06-025,"DEUTSCHE BANK TRUST CO. AMERICAS, TRUSTEE","CHAPPELL, RENEE, & ORLANDO",2011-08-17,150000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
309,1088011691,4292833,249970982,4,107018,001-07-018,"WELLS FARGO BANK, N.A. AS TRUSTEE","Kerfonta, Christina R.",2007-11-16,30000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
313,9673909,4292835,1558894809,10,107020,001-07-020,US BANK N.A. TRUSTEE,"IGLESSIAS, JACOB",2009-06-11,20000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
322,938538843,4292845,728023415,9,107030,001-07-030,KEYBANK NATIONAL ASSOCIATION,Dearmond Margaret A.,2005-09-01,35000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
324,1442093915,4292845,926113198,11,107030,001-07-030,US BANK NA AS TRUSTEE,"PALLANT, BRAD",2011-05-04,23334.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
327,1499158716,4292846,1636589576,13,107031,001-07-031,GMAC MORTGAGE CORP.,"Drucilla, Ivy",2004-01-09,44000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
329,966105061,4292846,1995885836,15,107031,001-07-031,"CROCK REAL ESTATE INVESTMENTS III, LLC",R & B Properties LTd,2012-09-28,16667.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
334,917237912,4292848,616919721,7,107033,001-07-033,LASALL BANK NATIONAL ASSOCIATION AS TRUSTEE,"Hughes, Ralph C.",2007-03-21,36667.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
344,1042775264,4292855,479053958,7,107040,001-07-040,"DEUTSCHE BANK NATIONAL TRUST COMPANY, AS TRUSTEE","PETAKI, LADIALAU & ROZALIA",2007-02-12,40000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
354,1339866238,4292860,918929470,5,107045,001-07-045,"JPMORGAN CHASE BANK, N.A.",Angala Esther,2011-07-19,22799.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
364,970073900,4295011,389295533,6,107053,001-07-053,"BANK OF AMERICA, N.A.","Mitchell, Carol H.",2012-10-03,5000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
382,1416204623,4295020,1601389224,5,107063,001-07-063,FANNIE MAE,"VITALI, JACQUELINE & JOSE",2010-12-29,25000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
391,1778123502,4295026,894212914,9,107069,001-07-069,OHIO SAVINGS BANK,"Allen, Raymond Aka",2007-01-04,36667.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
393,934105246,4295028,1199672250,6,107071,001-07-071,SECRETARY OF HUD,"Asif, Mohammed Am",2007-09-21,0.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
404,1146760032,4295032,70433002,3,107075,001-07-075,KEYBANK NATIONAL ASSOCIATION,"BRZESKI, MICHAEL J",2013-01-17,37405.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
409,477374994,4295033,747873037,7,107076,001-07-076,FEDERAL NATIONAL MORTGAGE ASSOCIATION,"FLONNOY, PARENTHIA",2012-08-09,15000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
412,1524737439,4295036,1072384014,4,107079,001-07-079,The Provident Bank,"Phillips, Mary Eugenia",2004-06-11,45000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
416,2141904059,4295038,1099970808,3,107081,001-07-081,Certified Housing Solutions LLC,"Montgomery, Robert E.",2004-02-17,19300.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
429,850891483,4295039,1397140023,16,107084,001-07-084,"CITIMORTGAGE, INC.","GROSE, JO ANN & ROBBINS, JEAN",2009-02-19,30000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
459,702213556,4297236,107805308,6,108007,001-08-007,EMC Mortgage Corp,Rivera Tomsita M,2003-04-01,60000.0,...,0.0,0.0,Change Ownership,Agent,NaN,NaN,07NOV2014,t,True,1
476,1353151990,4299393,1392071221,9,108033,001-08-033,FEDERAL HOME LOAN MORTGAGE CORPORATION,SUPREME SYNDICATE LLC,2014-03-06,0.0,...,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,07NOV2014,t,True,1
481,1737682549,4299394,808053808,8,108034,001-08-034,WELLS FARGO BANK N.A. TRUSTEE,"DINGWALL, JACQUELINE",2008-11-20,28000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
483,880837260,4299406,847052470,5,108046,001-08-046,AMTRUST BANK,"Guardado, Martin",2008-12-23,26667.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
492,938203238,4299409,1301084643,7,108049,001-08-049,FEDERAL NATIONAL MORTGAGE ASSOC.,"ANDER, ANDREEA",2010-02-23,10000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
494,1705598658,4299410,1053273182,5,108050,001-08-050,THIRD FEDERAL SAVINGS AND LOAN ASSOC OF CLEVELAND,"Carrasquillo, Epifan",2014-04-09,9334.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
498,594510380,4299412,1165297988,9,108052,001-08-052,DEUTSCHE BANK NATIONAL TRUST COMPANY,Mitrofan Nichifor,2012-03-26,22236.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210525,1557468890,4448707,1745423017,3,14407003,144-07-003,SECRETARY OF VETERANS AFFAIRS,"MASON, JEFFREY A. & PAULA",2013-08-14,0.0,...,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,07NOV2014,t,True,1
210527,677389029,4448709,2024200472,6,14407005,144-07-005,Manufacturers and Trade Trust Company-Tr.,"Ford, Scott J.",2005-12-01,140200.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210548,1585235659,4450997,767016659,5,14407029,144-07-029,THIRD FEDERAL SAVINGS AND LOAN ASSOCIATION,CHAMBERS SHIRLY A.,2008-08-15,80000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210550,337910551,4450999,309968005,4,14407031,144-07-031,THE BANK OF NEW YORK,"Hockett, Gwendolyn.",2007-05-07,60000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210553,1247897647,4451000,507325302,7,14407032,144-07-032,"SOUTHWEST CAPITAL INVESTMENTS, LLC","Maliti, Herbert B.",2008-10-22,83300.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210557,728617227,4451007,341599885,11,14408008,144-08-008,JPMORGAN CHASE BANK NA TRUSTEE,"CLAYBORNE, ACIE JR",2006-12-13,120000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210572,1140292635,4453290,1853137527,6,14409001,144-09-001,"LAKEVIEW PROPERTIES (OH), LLC (LAKEVIEW PROPER...","MAZOH, PATRICIA A. & MARGERY",2012-07-02,0.0,...,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,07NOV2014,t,True,1
210585,755635922,4453298,1506497433,6,14409010,144-09-010,THIRD FEDERAL SAVINGS AND LOAN ASSOCIATION OF ...,"Moody, Albert G.",2005-09-02,75000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,11DEC2014,t,True,1
210587,997018090,4453298,508367009,8,14409010,144-09-010,THIRD FEDERAL SAVINGS & LOAN ASSOCIATION of CL...,"GARCIA, YOLANDA",2013-09-27,16000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,11DEC2014,t,True,1
210589,1625965945,4453299,729036152,3,14409011,144-09-011,FEDERAL HOME LOAN MORTGAGE CORPORATION,"Braverman, Jeffrey L",2014-04-07,0.0,...,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,07NOV2014,t,True,1
210624,1892246353,4460131,727148670,5,14412028,144-12-028,NEW YORK COMMUNITY BANK,"Mcrae, Florence M (Trustee)",2012-05-09,33334.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210631,142066574,4451039,1414519096,4,14413017,144-13-017,"DEUTSCHE BANK TRUST COMPANY AMERICAS, AS TRUSTEE","Honer, Charlotte Delorise",2006-10-16,75000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210643,149979421,4453316,500482187,11,14413025,144-13-025,SKY BANK,"Taylor-Wimbley, Jacqueline E",2007-11-20,100000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210685,1100670369,4455589,989970426,5,14414031,144-14-031,JP MORGAN CHASE BANK TRUSTEE,"Jones, Sonequa D",2007-10-01,90000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210694,460374158,4455600,609356044,5,14414042,144-14-042,GENERATION MORTGAGE COMPANY,"JACOB, BARBARA R.",2012-08-30,53000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210721,252726592,4597310,829260833,8,43226018,432-26-018,"DEUTSCHE BANK NATIONAL TRUST COMPANY, AS TRUSTEE","MESSINA, SAM",2007-01-11,76667.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210730,2023044307,4597313,1032540177,9,43226021,432-26-021,FEDERAL HOME LOAN MORTGAGE CORP,"ARCIERI, VINCENT C.",2010-02-01,0.0,...,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,07NOV2014,t,True,1
210767,171241771,4595110,431714798,4,43322129,433-22-129,SECRETARY OF HOUSING AND URBAN DEVELOPMENT,"Hughes, Michael P",2007-02-13,0.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210799,625149378,4642303,1493941454,4,54619069,546-19-069,DEUTSCHE BANK NATIONAL TRUST COMPANY AS TRUSTEE,"Garry, Deborah",2006-01-25,80000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210816,138335264,4708656,1432197168,8,67214132,672-14-132,"WELLS FARGO BANK, N.A. AS TRUSTEE","MCCALL, MELINDA",2008-11-26,3334.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210826,769539318,4695468,1174727343,10,67316002,673-16-002,EMC Mortgage,"SNEED, DONNELL BOBO & BOLAR, FARICA",2006-11-16,36667.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210830,1020137822,4695470,1933443891,4,67316004,673-16-004,KEYBANK NATIONAL ASSOCIATION,"Jones , Pearlenea",2014-02-07,22725.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210833,147197142,4697675,1818225466,5,67316025,673-16-025,PLYMOUTH PARK TAX SERVICE LLC,Stephens General C & Levolia,2008-04-25,0.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210838,1075705928,4699921,275228557,7,67316070,673-16-070,EMC MORTGAGE CORPORATION,"Hayes, Dewayne R.",2007-08-03,36667.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210842,1332501332,4740065,1225141289,8,73111046,731-11-046,AMTRUST BANK,"Green, Andrea K. & MICHAEL",2009-02-19,90000.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210844,1242916738,4740081,100182883,3,73112001,731-12-001,FEDERAL NATIONAL MORTGAGE ASSOCIATION,Seymour Flora H,2015-02-10,0.0,...,0.0,0.0,Change Ownership,NaN,USA / State/ Political Subdiv,NaN,13FEB2015,t,True,1
210850,465045522,4722627,2058405000,4,73515074,735-15-074,HOUSEHOLD REALTY CORP.,"Darling, Preston",2006-11-15,96667.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210853,714302608,4740414,312345311,13,73520001,735-20-001,Secretary Of Hud,"Williams, Julius",2000-03-06,0.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210858,945512558,4716031,682961752,4,73521014,735-21-014,"CITIMORTGAGE, INC.","Lorenzi, Lisa M",2009-12-09,16667.0,...,0.0,0.0,Change Ownership,NaN,NaN,NaN,07NOV2014,t,True,1
210863,84567102,4716034,1845102327,13,73521017,735-21-017,Wells fargo bank Minn trustee,"Mixon, Sherri L.",2003-02-28,50000.0,...,0.0,0.0,Change Ownership,Agent,NaN,NaN,07NOV2014,t,True,1

In [83]:
t.shape

(210880, 62)

In [128]:
len(tci[tci.parcel.isin(df[(df.date>dt.datetime(2015,1,1)) & (df.DEED_TYPE.isin(['Sheriffs Deed',
 'Sheriffs Deed Ex']))].parcel)].vacant)

498

In [118]:
df.groupby('parcel').last().groupby('type').()

      DEED_TYPE  GRANTEE1    REO   date
type
fc         7635      7635  11337  11337
sa          754       754   1074   1074
t         68664     68664  68664  68664

In [82]:
sum(t.REO)

48993

In [103]:
find_REO(sa.purchaser.iloc[6])

True

In [107]:
s = sa.groupby('scaseno').last()

In [113]:
ts = tci[tci.parcel.isin(s[(s.REO) & (s.date > dt.datetime(2011,1,1))].parcel)]
sum(ts.vacant), len(ts)

(1289, 5716)

In [ ]:
spas_sa = tci[tci.parcel.isin(test)][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])
spas_sa['percent'] = spas_sa.vacant['sum']*1.0/spas_sa.vacant['len']
print(spas_sa.sort_values('percent'))

In [ ]:
for i in spas_sa.index:
    a = sa[sa.parcel.isin(test.intersection(tci[tci.SPA_NAME==i].parcel))]
    spas_sa.loc[spas_sa.index==i,'median_sa'] = a.sort_values('date')['date'].iloc[round(len(a)/2)]
#     print(i,a.sort_values('date')['date'].iloc[round(len(a)/2)])
#     print(np.median(sa[sa.parcel.isin(test.intersection(tci[tci.SPA_NAME==i].parcel))].date))

In [ ]:
spas_sa

In [ ]:
tci[tci.parcel.isin(set(fc.parcel))][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])

In [ ]:
len(tci.loc[tci.vacant==1,'parcel'][tci.loc[tci.vacant==1,'parcel'].isin(set(sa.parcel))])

In [ ]:
sum(tci['vacant']), len(tci)

In [ ]:
sum(tci[tci.parcel.isin(sub)].vacant), len(tci[tci.parcel.isin(sub)].vacant)

In [ ]:
last = df.groupby('parcel').last()
sub = set(last[last['type'] == 'sa'].index)

In [ ]:
second_last = df.groupby('parcel').nth(-2)
sub2 = set(second_last[second_last['type']=='fc'].index)

In [ ]:
len(sub.intersection(sub2)), len(sub), len(sub2)

In [ ]:
fc_to_sa = sub.intersection(sub2)

In [ ]:
sum(tci[tci.parcel.isin(fc_to_sa)].vacant), len(tci[tci.parcel.isin(fc_to_sa)].vacant)

In [ ]:
df[df.parcel=='137-25-057']

In [ ]:
a = second_last[second_last.index.isin(sub)]

In [ ]:
pitt_vacant = set(second_last[second_last.index.isin(sub)].index)

In [ ]:
pv = pd.read_csv(path+'/data/clean_data/postal_vacancy.csv', parse_dates=3, index_col=0)
pv.date = pv.date.apply(lambda x: dt.datetime(int(x[0:4]),int(x[5:7]),int(x[8:10])))
pv = pv.sort_values('date',ascending=False)
pv = pv.loc[pv.apply(lambda x: x.date < dates[x.PARCEL], axis=1)]

In [ ]:
pv = pv[pv.vindall=='Y']
pv_copy = pv.copy().groupby('PARCEL').count().reset_index()

pv_copy['pv_count'] = pv_copy.apply(lambda x: \
        len(pv[(pv.PARCEL == x.PARCEL) & (pv.date > dates[x.PARCEL]-pd.DateOffset(years=2))]), axis=1)

In [ ]:
pv2 = pv.groupby('PARCEL').last()

In [ ]:
tci[tci.parcel.isin(pv2[pv2.vindall=='Y'].index)].groupby('vacant').count()

In [ ]:
sns.distplot(df2[df2.vacant==1].date,bins=np.linspace(0,30,30));
sns.distplot(df2[df2.vacant==0].date,bins=np.linspace(0,30,30));

In [ ]:
df2 = pd.merge(df.groupby('parcel').last(), tci[['vacant','ppn']], how='left',left_index=True, right_on='ppn')

In [ ]:
df2[['type','vacant']].groupby('type').agg([sum,len])

In [ ]:
d = df2[df2['type']=='fc']
d['year'] = d.date.apply(lambda x: x.year)

In [ ]:
d[['year','vacant']].groupby('year').agg([sum,len])

In [ ]:
plt.plot(fc.set_index('date').groupby(['type']).resample('m', 'count'))

In [ ]:
t = tci[tci.ppn.isin(fc[fc.date > dt.datetime(2015,3,1)].parcel)].vacant

In [ ]:
sum(t),len(t)

In [ ]:
fc['year'] = fc['date']